.player-area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 1rem 0;
    padding: 0 0 1rem 0;
    border-top: 5px solid rgb(21, 255, 0);
    border-radius: 15px;
    min-height: 60vh;
}

.enemy-area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 1rem 0;
    padding: 0 0 1rem 0;
    border-top: 5px solid rgb(255, 0, 0);
    border-radius: 15px;
    min-height: 60vh;
}

.progress-bar {
    height: 0.75rem;
    border-radius: 5px;
}

.thumb {
    width: 4rem;
    height: 4rem;
    border: 1px solid gold;
    margin-bottom: 0.4rem;
}

.tooltip {
    /* Set the font and text style */
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: white;
    text-align: left;

  
    /* Set the background color and border */
    background-color: #663399;
    border: 1px solid #333;
    border-radius: 4px;
  
    /* Set the padding and box shadow */
    padding: 8px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  
    /* Set the width and max-width */
    width: 200px;
    max-width: 90%;
  
    /* Hide the tooltip by default */
    display: none;
  }

  .tooltip::before {
    /* Set the content and position of the pseudo-element */
    content: '';
    position: absolute;
    top: 50%;
    left: -8px;
  
    /* Set the size and shape of the pseudo-element */
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-right: 8px solid #333;
  
    /* Use the transform property to rotate the pseudo-element */
    transform: translateY(-50%);
  }


  .player-image {
    /* other styles */
    transform: rotateY(0deg); /* initial rotation */
    transition: transform 0.3s; /* smooth transition on hover */
  }

  .player-image:hover {
    transform: rotateY(10deg); /* add rotation on hover */
  }


  .progress-bar-speed {
    width: 0%;
    height: 20px;
    background-color: #e5ff00;
    transition: width 5s;
  }

