<div class="overlay"></div>
<div class="combat-background"></div>
<div class="combat-area">
  <ion-row>
    <ion-col size="12" size-md="5" size-lg="5">
      Level: {{ playerCharacter.character.combatStats.progression.level }}
      <ion-progress-bar
        class="stats"
        color="danger"
        [value]="
          playerCharacter.character.combatStats.stats.health /
          playerCharacter.character.combatStats.stats.maxHealth
        "
      ></ion-progress-bar>
      <ion-label>
        <span *ngIf="showCharacterHpChange" class="display-character-hp">
          -{{ this.characterHpChanged }}</span
        >
        <img src="../../../assets/icon/hp.png" /> ({{
          playerCharacter.character.combatStats.stats.health
        }}/{{ playerCharacter.character.combatStats.stats.maxHealth }})
      </ion-label>

      <div class="progress-container">
        <div class="progress-bar" [ngStyle]="{'width': progress + '%'}"></div>
      </div>

    </ion-col>
    <ion-col> </ion-col>
    <ion-col size="12" size-md="5" size-lg="5">
      Level: {{ monster?.level }}
      <ion-progress-bar
        class="stats"
        color="danger"
        [value]="monster?.health / monster?.maxHealth"
      ></ion-progress-bar>
      <ion-label>
        <span *ngIf="showMonsterHpChange" class="display-monster-hp">
          -{{ this.monsterHpChanged }}</span
        >

        <img src="../../../assets/icon/hp.png" /> ({{
          monster?.health || "-"
        }}/{{ monster?.maxHealth || "-" }})
      </ion-label>

      <div class="progress-container">
        <div class="progress-bar" [ngStyle]="{'width': monsterProgress + '%'}"></div>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12" size-md="5" size-lg="5">
      <div class="container">
        <div class="left-side">
          <app-equipment-thumbnail
            [equipmentType]="'head'"
            [equipmentName]="playerCharacter.character.equipment.head.name"
            [defaultImage]="'Equipment9.png'"
            (onUnequip)="unequipItem('head')"
          ></app-equipment-thumbnail>

          <app-equipment-thumbnail
            [equipmentType]="'offHand'"
            [equipmentName]="playerCharacter.character.equipment.offHand.name"
            [defaultImage]="'EquipmentEmpty.png'"
            (onUnequip)="unequipItem('offHand')"
          ></app-equipment-thumbnail>

          <app-equipment-thumbnail
            [equipmentType]="'mainHand'"
            [equipmentName]="playerCharacter.character.equipment.mainHand.name"
            [defaultImage]="'Equipment1.png'"
            (onUnequip)="unequipItem('mainHand')"
          ></app-equipment-thumbnail>

          <app-equipment-thumbnail
            [equipmentType]="'ring1'"
            [equipmentName]="playerCharacter.character.equipment.ring1.name"
            [defaultImage]="'Equipment6.png'"
            (onUnequip)="unequipItem('ring1')"
          ></app-equipment-thumbnail>

          <app-equipment-thumbnail
            [equipmentType]="'feet'"
            [equipmentName]="playerCharacter.character.equipment.feet.name"
            [defaultImage]="'Equipment8.png'"
            (onUnequip)="unequipItem('feet')"
          ></app-equipment-thumbnail>
        </div>
      
        <img style="z-index: 1001;" class="player-image" src="../../../assets/knight.png" />
        <img style="position: absolute; width: 23rem; z-index: 1;" src="../../../assets/icon/Flags/flag_02_blue02.png" />
        <div class="equipment-container">
          <div class="right-side">
            <app-equipment-thumbnail
              [equipmentType]="'neck'"
              [equipmentName]="playerCharacter.character.equipment.neck.name"
              [defaultImage]="'Equipment5.png'"
              (onUnequip)="unequipItem('neck')"
            ></app-equipment-thumbnail>

            <app-equipment-thumbnail
              [equipmentType]="'chest'"
              [equipmentName]="playerCharacter.character.equipment.chest.name"
              [defaultImage]="'Equipment3.png'"
              (onUnequip)="unequipItem('chest')"
            ></app-equipment-thumbnail>

            <app-equipment-thumbnail
              [equipmentType]="'hands'"
              [equipmentName]="playerCharacter.character.equipment.hands.name"
              [defaultImage]="'Equipment4.png'"
              (onUnequip)="unequipItem('hands')"
            ></app-equipment-thumbnail>

            <app-equipment-thumbnail
              [equipmentType]="'legs'"
              [equipmentName]="playerCharacter.character.equipment.legs.name"
              [defaultImage]="'EquipmentEmpty.png'"
              (onUnequip)="unequipItem('legs')"
            ></app-equipment-thumbnail>

            <app-equipment-thumbnail
              [equipmentType]="'ring2'"
              [equipmentName]="playerCharacter.character.equipment.ring2.name"
              [defaultImage]="'Equipment7.png'"
              (onUnequip)="unequipItem('ring2')"
            ></app-equipment-thumbnail>
          </div>
        </div>
      </div>
    </ion-col>
    <ion-col>
      <div
        style="
          position: relative;
          text-align: center;
          align-items: center;
          justify-content: center;
        "
      >
        Vs
      </div>
    </ion-col>
    <ion-col size="12" size-md="5" size-lg="5">
      <div style="min-height: 22rem; text-align: center;">
        <div class="fighter-container">
          <img
            *ngIf="monster && monster.health && !loading"
            alt="-"
            class="player-image"
            src="../../../assets/monsters/{{ monster?.name }}.png"
          />
          <img *ngIf="monster && monster.health && !loading" style="position: absolute; width: 23rem;" src="../../../assets/icon/Flags/flag_{{monster.area}}.png" />
          <ion-spinner
            *ngIf="loading"
            name="circles"
            class="loading"
          ></ion-spinner>
        </div>
        <span *ngIf="!monster!; loading">-</span>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12" size-md="5" size-lg="5">
      <ion-segment style="margin-top: 0" [(ngModel)]="type" value="default">
        <ion-segment-button value="backpack">
          <ion-label>Backpack</ion-label>
        </ion-segment-button>
        <ion-segment-button value="statistics">
          <ion-label>Stats</ion-label>
        </ion-segment-button>
      </ion-segment>
      <div class="stats-background" [ngSwitch]="type">
        <div style="min-height: 550px">
          <div *ngSwitchCase="'backpack'">
            <app-backpack></app-backpack>
          </div>
          <div *ngSwitchCase="'statistics'">
            <app-stats></app-stats>
          </div>
        </div>
      </div>
    </ion-col>
    <ion-col style="text-align: center; align-items: center"> </ion-col>
    <ion-col size-md="5" size-lg="5">
      <br/>
      <ion-button
        expand="block"
        [disabled]="!monster"
        (click)="setOpen(true, monster)"
        >Monster Drops</ion-button
      >

      <ion-button expand="full" color="warning" (click)="flee()"
        >Flee</ion-button
      >
      <app-monster-stats
        [monster]="monster"
        [chanceToHit]="calculateChanceToHit()"
        [chanceToDodge]="calculatePlayerChanceToHit()"
      ></app-monster-stats>
    </ion-col>
  </ion-row>
</div>

<span *ngIf="showNewLoot" class="display-loot">
  <div>
    <img style="width: 2rem" src="../../../assets/menu-icons/gold.png" />
    + {{ this.newLoot.gold }}
  </div>
  <div>
    <ion-icon name="stats-chart"></ion-icon>
    + {{ this.newLoot.xp }}
  </div>
  <div *ngIf="this.newLoot.loot">
    <div *ngFor="let items of this.newLoot.loot">
      <img style="width: 2rem" src="../../../assets/equipment/{{items.name}}.png" />
    + x {{ items.amount }}
    </div>
  </div>
</span>

<div
  [myTooltip]="template"
  #tooltipContent
  style="
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 1000;
    cursor: pointer;
  "
>
  <ng-template #template>
    <div class="my-tooltip">
      {{ playerCharacter.character.combatStats.progression.experiencePoints }} /
      {{ calculateXpForLevel() }}
    </div>
  </ng-template>
  <ion-progress-bar
    style="height: 0.75rem; border-radius: 25px"
    color="warning"
    [value]="
      playerCharacter.character.combatStats.progression.experiencePoints /
      calculateXpForLevel()
    "
  >
  </ion-progress-bar>
</div>

<ion-modal [isOpen]="isModalOpen">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>{{ lootMonster.name }} Drops</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="setOpen(false, lootMonster)">Close</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <app-drops [monster]="lootMonster"></app-drops>
    </ion-content>
  </ng-template>
</ion-modal>
