.display-monster-hp {
  color: red;
  position: absolute;
  right: 20px;
  animation-name: display-monster-hp;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  font-size: 28px;
  font-weight: 600;
  font-family: "Zona Pro";
}

.display-character-hp {
  color: red;
  position: absolute;
  left: 150px;
  animation-name: display-monster-hp;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  font-size: 28px;
  font-weight: 600;
  font-family: "Zona Pro";
}

.display-loot {
  font-weight: 400;
  font-size: xx-large;
  font-family: Cinzel Decorative, serif;
  position: fixed;
  bottom: 30px;
  left: 45vw;
  animation-name: show-loot;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  z-index: 1000;
  background-color: rgba(6, 77, 0, 0.3);
  padding: 0.5rem;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px 0px;
}

@keyframes display-monster-hp {
  0% {
    transform: translate(0, -35px);
  }
  100% {
    transform: translate(0, -60px);
  }
}

@keyframes show-loot {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, -60px);
  }
}

.spin {
  animation: spin 30s linear infinite;
  left: 17%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate3d(-40%, -50%, 0) scale(6);
  margin-top: 2.5rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2); /* Green with 50% opacity */
  z-index: 1; /* Make sure it is on top of other elements */
  padding: 0;
  margin: 0;
}

.combat-background {
  background-image: url("../../../assets/general/combat-background.svg");
  min-height: 50vh;
  background-repeat: no-repeat;
  position: fixed;
  width: 100vw;
  height: 50vh;
  z-index: 0;
}

.combat-area {
  z-index: 1000;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 1rem;

}

.player-section,
.monster-section {
  width: 45%;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 5px;
}

.progress-bars {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

.player-stats,
.monster-stats {
  width: 45%;
  margin: auto;
  font-family: "Zona Pro";
  font-size: 1.5rem;
  font-weight: 600;
  padding: 1rem;
}

progress {
  width: 100%;
  height: 1.5rem;
  display: block;
  margin-bottom: 1rem;
}

.health {
  background-color: #f44336;
}

.stamina {
  background-color: #4caf50;
}

.progress-bars {
  position: relative;
  z-index: 20;
}

.stats {
  height: 0.5rem;
  border-radius: 10px;
}

.fighter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.player-image {
  width: 18rem;
  height: 18rem;
  z-index: 1000;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-image {
  width: 20rem;
  height: auto;
}

.equipment-container {
  position: flex;
}

.left-side,
.right-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80%;
}

.left-side {
  right: 50%;
}

.right-side {
  left: 50%;
}

.equipment-item {
  width: 50px;
  height: auto;
}

.flex-item {
  flex-basis: 100%;
  height: 100px;
  text-align: center;
  background-color: #f2f2f2;
  border: 1px solid #ddd;
}

@media screen and (min-width: 768px) {
  .flex-container {
    display: flex;
    flex-wrap: wrap;
  }

  .flex-item {
    flex-basis: calc(50% - 2px); /* 2px is the border width */
    flex-grow: 1;
    margin: 1px;
  }
}

.my-tooltip {
  top: -32px;
  position: absolute;
  z-index: 1000;
  color: wheat;
  border-radius: 4px;
  padding: 3px;
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
  width: 300px;
  max-width: 300px;
  font-family: "Zona Pro";
  left: calc(50%);
}

.time-until-attack {
  position: absolute;
  top: 27px;
  left: 0;
  width: 100%;
  height: 100%;
  font-family: "Zona Pro";
  font-size: 1.5rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
  text-shadow: 1px 1px rgb(148, 148, 148);
  z-index: 1000;
}

.progress-container {
  width: 100%;
  height: 0.75rem;
  justify-content: center;
  align-items: center;
  background-color: #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  background-color: #4caf50;
  width: 0;
  transition: width 0.15s ease-out;
}
