<ion-header>
  <ion-toolbar>
    <ion-title>NGX Data Table</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="12">
        <ion-progress-bar color="warning" [value]="playerCharacter.character.combatStats.progression.experiencePoints">
        </ion-progress-bar>
      </ion-col>
      <ion-col size="12" size-sm="4">
        <ion-accordion-group>
          <ion-accordion value="first">
            <ion-item slot="header" color="light">
              <ion-label>Fight Monsters</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              <ion-row *ngFor="let monsters of monsterList">
                <ion-col size="6">
                  <ion-avatar id="hover-trigger">
                    <img src="../../../assets/monsters/{{monsters.name}}.svg">
                  </ion-avatar>
                  <ion-popover trigger="hover-trigger" triggerAction="hover">
                    <ng-template>
                      <ion-content class="ion-padding">{{monsters.name}}</ion-content>
                    </ng-template>
                  </ion-popover>
                </ion-col>
                <ion-col size="6">
                  <ion-button color="danger" expand="full" (click)="spawnMonster(monsters.name)"
                    expand="full">Hunt</ion-button>
                  <ion-button expand="full" (click)="setOpen(true, monsters)" color="primary"
                    expand="full">Loot</ion-button>
                </ion-col>
              </ion-row>
            </div>
          </ion-accordion>
        </ion-accordion-group>
      </ion-col>
      <ion-col size="12" size-sm="4">
        <ion-accordion-group>
          <ion-accordion value="first">
            <ion-item slot="header" color="light">
              <ion-label>Delve Dungeons</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">First Content</div>
          </ion-accordion>
        </ion-accordion-group>
      </ion-col>
      <ion-col size="12" size-sm="4">
        <ion-accordion-group>
          <ion-accordion value="first">
            <ion-item slot="header" color="light">
              <ion-label>Raid The Depths</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">First Content</div>
          </ion-accordion>
        </ion-accordion-group>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col class="player-area" size="12" size-md="6" size-lg="6">
        <ion-grid>
          <ion-row>
            <ion-col size="12" size-md="6" size-lg="6">
              <ion-progress-bar class="progress-bar" color="success"
                [value]="playerCharacter.character.combatStats.stats.health / playerCharacter.character.combatStats.stats.maxHealth"></ion-progress-bar>
              <ion-label>
                <p>
                  Health
                  ({{playerCharacter.character.combatStats.stats.health}}/{{playerCharacter.character.combatStats.stats.maxHealth}})
                </p>
              </ion-label>
            </ion-col>
            <ion-col size="12" size-md="6" size-lg="6">
              <ion-progress-bar class="progress-bar" color="primary"
                [value]="playerCharacter.character.combatStats.stats.mana / playerCharacter.character.combatStats.stats.maxMana"></ion-progress-bar>
              <ion-label>
                <p>
                  Mana
                  ({{playerCharacter.character.combatStats.stats.mana}}/{{playerCharacter.character.combatStats.stats.maxMana}})
                </p>
              </ion-label>
            </ion-col>
            <ion-col size="2" size-md="2" size-lg="2">
              <ion-list>
                <ion-item>
                  <img style="width: 1rem" src="../../../assets/menu-icons/attack.png" />
                  {{playerCharacter.character.combatStats.stats.strength | number}}
                </ion-item>
                <ion-item>
                  <img style="width: 1rem" src="../../../assets/menu-icons/attack.png" />
                  {{playerCharacter.character.combatStats.stats.endurance | number}}
                </ion-item>
                <ion-item>
                  <img style="width: 1rem" src="../../../assets/menu-icons/attack.png" />
                  {{playerCharacter.character.combatStats.stats.dexterity | number}}
                </ion-item>
                <ion-item>
                  <img style="width: 1rem" src="../../../assets/menu-icons/attack.png" />
                  {{playerCharacter.character.combatStats.stats.intelligence | number}}
                </ion-item>
                <ion-item>
                  <img style="width: 1rem" src="../../../assets/menu-icons/attack.png" />
                  {{playerCharacter.character.combatStats.stats.agility | number}}
                </ion-item>
                <ion-item>
                  <img style="width: 1rem" src="../../../assets/menu-icons/attack.png" />
                  {{playerCharacter.character.combatStats.stats.luck | number}}
                </ion-item>
                <ion-item>
                  <img style="width: 1rem" src="../../../assets/menu-icons/attack.png" />
                  {{playerCharacter.character.combatStats.stats.luck | number}}
                </ion-item>
              </ion-list>
            </ion-col>
            <ion-col size="2" size-md="2" size-lg="2">
              <ion-reorder-group [disabled]="false" (ionItemReorder)="handleReorder($any($event))">
                <ion-reorder>
                  <ion-thumbnail appTooltip [html]="template" class="thumb">
                    <img alt="Silhouette of mountains" src="../../../assets/equipment/armour_helmet.png" />
                  </ion-thumbnail>
                </ion-reorder>

                <ion-reorder>
                  <ion-thumbnail appTooltip [html]="template" class="thumb">
                    <img alt="Silhouette of mountains" src="../../../assets/equipment/armour_cape.png" />
                  </ion-thumbnail>
                </ion-reorder>

                <ion-reorder>
                  <ion-thumbnail appTooltip [html]="template" class="thumb">
                    <img alt="Silhouette of mountains" src="../../../assets/equipment/weapon_sword.png" />
                  </ion-thumbnail>
                </ion-reorder>

                <ion-reorder>
                  <ion-thumbnail appTooltip [html]="template" class="thumb">
                    <img alt="Silhouette of mountains" src="../../../assets/equipment/armour_gloves.png" />
                  </ion-thumbnail>
                </ion-reorder>

                <ion-reorder>
                  <ion-thumbnail appTooltip [html]="template" class="thumb">
                    <img alt="Silhouette of mountains" src="../../../assets/equipment/armour_boots.png" />
                  </ion-thumbnail>
                </ion-reorder>

              </ion-reorder-group>
            </ion-col>
            <ion-col size="6" size-md="6" size-lg="6">
              <img class="player-image" src="../../../assets/knight.png">
            </ion-col>
            <ion-col size="2" size-md="2" size-lg="2">
              <ion-reorder-group [disabled]="false" (ionItemReorder)="handleReorder($any($event))">
                <ion-reorder>
                  <ion-thumbnail appTooltip [html]="template" class="thumb">
                    <img alt="Silhouette of mountains" src="../../../assets/equipment/misc_amulet.png" />
                  </ion-thumbnail>
                </ion-reorder>

                <ion-reorder>
                  <ion-thumbnail appTooltip [html]="template" class="thumb">
                    <img alt="Silhouette of mountains" src="../../../assets/equipment/armour_platebody.png" />
                  </ion-thumbnail>
                </ion-reorder>

                <ion-reorder>
                  <ion-thumbnail appTooltip [html]="template" class="thumb">
                    <img alt="Silhouette of mountains" src="../../../assets/equipment/armour_shield.png" />
                  </ion-thumbnail>
                </ion-reorder>

                <ion-reorder>
                  <ion-thumbnail appTooltip [html]="template" class="thumb">
                    <img alt="Silhouette of mountains" src="../../../assets/equipment/armour_platelegs.png" />
                  </ion-thumbnail>
                </ion-reorder>

                <ion-reorder>
                  <ion-thumbnail appTooltip [html]="template" class="thumb">
                    <img alt="Silhouette of mountains" src="../../../assets/equipment/misc_ring.png" />
                  </ion-thumbnail>
                </ion-reorder>
              </ion-reorder-group>
            </ion-col>
            <ion-col>
              <ion-row>
                <ion-label>
                  <p>
                    Time until attack: <span appTimestampCountdown [timestamp]="timeUntilFinish || 0"></span>
                  </p>
                </ion-label>
              </ion-row>
            </ion-col>
            <ion-col no-padding no-margin size="12" size-md="12" size-lg="12">
              <ion-row>
                <ion-col size="12" size-md="12" size-lg="12">
                  <ion-chip>Equipment</ion-chip>
                  <ion-chip>Backpack</ion-chip>
                  <ion-chip>Items</ion-chip>
                  <ion-chip>Statistics</ion-chip>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
      <ion-col class="enemy-area" size="12" size-md="6" size-lg="6">
        <ion-grid>
          <ion-row>
            <ion-col size="12" size-md="12" size-lg="12">
              <ion-progress-bar class="progress-bar" color="danger"
                [value]="monster?.health / monster?.maxHealth"></ion-progress-bar>
              <ion-label>
                <p>
                  Health ({{monster?.health || '-'}}/{{monster?.maxHealth || '-'}})
                </p>
              </ion-label>
            </ion-col>
            <ion-col size="2" size-md="2" size-lg="2">
              <ion-list>
                <ion-item>
                  <img style="width: 1rem" src="../../../assets/menu-icons/attack.png" />
                  -
                </ion-item>
                <ion-item>
                  <img style="width: 1rem" src="../../../assets/menu-icons/attack.png" />
                  -
                </ion-item>
                <ion-item>
                  <img style="width: 1rem" src="../../../assets/menu-icons/attack.png" />
                  -
                </ion-item>
                <ion-item>
                  <img style="width: 1rem" src="../../../assets/menu-icons/attack.png" />
                  -
                </ion-item>
                <ion-item>
                  <img style="width: 1rem" src="../../../assets/menu-icons/attack.png" />
                  -
                </ion-item>
                <ion-item>
                  <img style="width: 1rem" src="../../../assets/menu-icons/attack.png" />
                  -
                </ion-item>
                <ion-item>
                  <img style="width: 1rem" src="../../../assets/menu-icons/attack.png" />
                  -
                </ion-item>
              </ion-list>
            </ion-col>
            <ion-col size="2"></ion-col>
            <ion-col size="6" size-md="6" size-lg="6">
              <img *ngIf="monster" alt="-" class="player-image" src="../../../assets/monsters/{{monster?.name}}.svg">
              <span *ngIf="!monster">-</span>
            </ion-col>
            <ion-col size="2"></ion-col>
            <ion-col size="12">
              <ion-row>
              </ion-row>
              <ion-label>
                <p>
                  Time until attack: <span appTimestampCountdown [timestamp]="monsterTimeUntilFinish || 0"></span>
                </p>
              </ion-label>
            </ion-col>
            <ion-col no-padding no-margin size="12" size-md="12" size-lg="12">
              <ion-row>
                <ion-col size="6" size-md="6" size-lg="6">
                  <ion-button expand="block" [disabled]="!monster" (click)="setOpen(true, monster)">Monster Drops</ion-button>
                </ion-col>
                <ion-col size="6" size-md="6" size-lg="6">
                  <ion-button expand="full" color="warning" (click)="flee()">Flee</ion-button>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ng-template #template>
    <div>
      <h3>Equipment</h3>
      <div>
        <div>
          <h4>Equipment Name</h4>
          <p>Equipment Description</p>
          <ul>
            <li>Attribute 1: Value</li>
            <li>Attribute 2: Value</li>
            <li>Attribute 3: Value</li>
          </ul>
        </div>
      </div>
    </div>
  </ng-template>
</ion-content>

<ion-modal [isOpen]="isModalOpen">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>{{lootMonster.name}} Drops</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="setOpen(false, lootMonster)">Close</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <app-drops [monster]="lootMonster"></app-drops>
    </ion-content>
  </ng-template>
</ion-modal>