<app-skill-information
  [playerCharacter]="playerCharacter.character.skills.firemaking"
  [players]="1"
></app-skill-information>

<mat-grid-list
  cols="3"
  rowHeight="1.5:1"
  gutterSize="1rem"
  style="margin-top: 1rem"
>
  <mat-grid-tile class="firemaking-box grid">
    <form [formGroup]="firemakingForm">
      <mat-card class="firemaking-box">
        <mat-form-field style="margin-top: 1rem" appearance="fill">
          <mat-label style="color: white">Select your logs</mat-label>
          <mat-select formControlName="logs">
            <div *ngFor="let logs of logNames">
              <mat-option value="{{ logs }}">
                <img
                  style="width: 16px"
                  src="../../../../assets/items/{{
                    logs.charAt(0).toUpperCase() + logs.slice(1)
                  }}.png"
                />
                {{ logs | titlecase }}</mat-option
              >
            </div>
          </mat-select>
        </mat-form-field>
        <mat-card-header>
          <mat-card-title>{{
            currentLogSelected.name | titlecase
          }}</mat-card-title>
          <mat-card-subtitle style="color: white">{{
            logsInStorage | number
          }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <img
            mat-card-image
            style="width: 3rem"
            src="../../../../assets/items/{{
              currentLogSelected.name.charAt(0).toUpperCase() +
                currentLogSelected.name.slice(1)
            }}.png"
            alt="Logs"
          />
        </mat-card-content>
        <mat-card-actions>
          <div class="rewardContainer">
            <div class="rewardIcon">
              <span class="floating"> {{ 20 }} </span>
              <img
                class="icon"
                src="../../../../assets/items/{{
                  currentLogSelected.name.charAt(0).toUpperCase() +
                    currentLogSelected.name.slice(1)
                }}.png"
                alt="None"
              />
            </div>
            <div class="rewardIcon">
              <span class="floating">{{ 4 }}</span>
              <img class="icon" src="./assets/general/hourglass.png" />
            </div>
          </div>
        </mat-card-actions>
      </mat-card>
    </form>
  </mat-grid-tile>
  <mat-grid-tile class="firemaking-box grid">
    <button
      (click)="activateBurn()"
      mat-raised-button
      color="warn"
      style="width: 96%"
    >
      Burn
    </button>

    <span style="width: 100%" *ngIf="burningActive">
      <span
        appTimestampCountdown
        [timestamp]="timeUntilFinish || 0"
        (isFinished)="completeFiremaking()"
      ></span>

      <mat-progress-bar
        class="progress-bar"
        color="accent"
        mode="determinate"
        anima
        appTimestampCountdownProgress
        [timestamp]="timeUntilFinish || 0"
      ></mat-progress-bar>
    </span>
  </mat-grid-tile>
  <mat-grid-tile class="firemaking-box grid"
    >
    <h4 *ngIf="!burningActive">Inactive</h4>
    <div *ngIf="burningActive" class="fire">
      <div class="logs">
        <div class="log l1"></div>
        <div class="log l2"></div>
      </div>
      <div class="flames">
        <div class="flame f1"></div>
        <div class="flame f2"></div>
        <div class="flame f3"></div>
      </div>
      <div class="sparks">
        <div class="spark s1"></div>
        <div class="spark s2"></div>
        <div class="spark s3"></div>
        <div class="spark s4"></div>
        <div class="spark s5"></div>
        <div class="spark s6"></div>
        <div class="spark s7"></div>
        <div class="spark s8"></div>
      </div></div
  ></mat-grid-tile>
</mat-grid-list>
