<ion-grid>
  <ion-row>
    <ion-col><img src="../../assets/equipment/EquipmentEmpty.png"></ion-col>
    <ion-col><img src="../../assets/equipment/EquipmentEmpty.png"></ion-col>
    <ion-col><img src="../../assets/equipment/EquipmentEmpty.png"></ion-col>
    <ion-col><img src="../../assets/equipment/EquipmentEmpty.png"></ion-col>
    <ion-col><img src="../../assets/equipment/EquipmentEmpty.png"></ion-col>
    <ion-col><img src="../../assets/equipment/EquipmentEmpty.png"></ion-col>
  </ion-row>
</ion-grid>