<ion-content>
  <form *ngIf="loginFormOrRegisterForm" (keyup.enter)="submitRegistration()" [formGroup]="this.registerForm">
    <ion-grid ion-no-padding>
      <ion-row>
        <ion-col class="left-bar" size="12" size-md="4" size-lg="4">
          <img class="main-logo" src="../../assets/logo/logo.PNG">
          <img class="main-logo-two" src="../../assets/logo/logoText.png">
          <p class="main-logo-text">AlcheIdle</p>
        </ion-col>
        <ion-col class="right-bar" size="12" size-md="8" size-lg="8">
          <div class="container">
            <h1>Register</h1>
            <ion-note>
              AlchIdle is a game where you can idle your way to the top of the alchemy world.
            </ion-note>
            <ion-button color="danger" expand="block">Continue with Gmail</ion-button>
            <ion-button color="primary" expand="block">Continue with Facebook</ion-button>
            <ion-button color="medium" expand="block">Continue with Github</ion-button>

            <ion-item fill="solid">
              <ion-label position="floating">Email</ion-label>
              <ion-input type="email" formControlName="email"></ion-input>
            </ion-item>

            <ion-item fill="solid">
              <ion-label position="floating">Username</ion-label>
              <ion-input type="text" formControlName="username"></ion-input>
              <!-- <ion-note slot="helper">Enter a valid email</ion-note>
          <ion-note slot="error">Invalid email</ion-note> -->
            </ion-item>

            <ion-item fill="solid">
              <ion-label position="floating">Character</ion-label>
              <ion-input type="text" formControlName="characterName"></ion-input>
              <!-- <ion-note slot="helper">Enter a valid email</ion-note>
          <ion-note slot="error">Invalid email</ion-note> -->
            </ion-item>

            <ion-item fill="solid">
              <ion-label position="floating">Password</ion-label>
              <ion-input type="password" formControlName="password"></ion-input>
              <!-- <ion-note slot="helper">Enter a valid email</ion-note>
          <ion-note slot="error">Invalid email</ion-note> -->
            </ion-item>

            <ion-item>
              <ion-select formControlName="characterAlignment" value="characterAlignment" interface="popover"
                placeholder="Select Gamemode">
                <ion-select-option value="normal">Normal</ion-select-option>
                <ion-select-option value="hardcore">Hardcore</ion-select-option>
              </ion-select>
            </ion-item>



            <ion-button [disabled]="registerForm.invalid" (click)="submitRegistration()" color="primary"
              expand="block">Register</ion-button>
            <p>Already registered? <a class="button-link" (click)="switchForm()">Login here</a> </p>


            <ion-button color="tertiary" expand="block">Join us on Discord</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
  <ion-grid *ngIf="!loginFormOrRegisterForm">
    <form (keyup.enter)="submitLogin()" [formGroup]="this.loginForm">
    <ion-row>
      <ion-col class="left-bar" size="12" size-md="8" size-lg="4">
        <img class="main-logo" src="../../assets/logo/logo.PNG">
        <img class="main-logo-two" src="../../assets/logo/logoText.png">
        <p class="main-logo-text">AlcheIdle</p>
      </ion-col>
      <ion-col class="right-bar" size="12" size-md="4" size-lg="8">
        <div class="container">
          <h1>Login</h1>
          <ion-note>
            AlchIdle is a game where you can idle your way to the top of the alchemy world.
          </ion-note>
          <ion-button color="danger" expand="block">Continue with Gmail</ion-button>
          <ion-button color="primary" expand="block">Continue with Facebook</ion-button>
          <ion-button color="medium" expand="block">Continue with Github</ion-button>

          <ion-item fill="solid">
            <ion-label position="floating">Username</ion-label>
            <ion-input type="text" formControlName="username"></ion-input>
            <!-- <ion-note slot="helper">Enter a valid email</ion-note>
            <ion-note slot="error">Invalid email</ion-note> -->
          </ion-item>

          <ion-item fill="solid">
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
            <!-- <ion-note slot="helper">Enter a valid email</ion-note>
            <ion-note slot="error">Invalid email</ion-note> -->
          </ion-item>

          <ion-button color="primary" expand="block" (click)="submitLogin()">Login</ion-button>
          <p>Need to register? <a class="button-link" (click)="switchForm()">Register here</a> </p>


          <ion-button color="tertiary" expand="block">Join us on Discord</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </form>
  </ion-grid>
</ion-content>