@import "~../../../variables.scss";

.town-heading {
  margin-top: 2rem;
  margin-left: 2rem;
  width: 96%;
  box-shadow: 0 1px 2px rgb(33 34 35/50%), 0 1px 2px rgb(26 26 27/50%);
  border-top: 3px solid green;
  background-color: $primary-dark;
  display: relative;
  font-size: 0.875rem;
  height: 4rem;
}

.town-area {
  width: 96%;
  margin-left: 2rem;
  margin-top: 2rem;
  background-color: $primary-dark;
  min-height: 75vh;
}

.town-item {
  border: 4px solid #0d1e3a;
  height: 4rem;
  margin: 1rem;
  background-color: slategrey;
  cursor: pointer;
}

.amount {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  bottom: 0;
}

.action-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.panel-title {
   margin-left: 1rem;
   float: left;
}

.shop-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}