
<div style="margin: 5rem; height: 100%;">
  <ion-searchbar
  placeholder="Search for a player..."
  style="padding: 8px; margin: auto;"
  (keyup)="updateFilter($event)"
  show-clear-button="focus"
></ion-searchbar>

<ion-segment [scrollable]="true" value="all">
  <ion-segment-button (click)="setSearch('all')" value="all">
    Total
  </ion-segment-button>
  <ion-segment-button (click)="setSearch('alchemy')" value="alchemy">
    <img style="width: 2rem;" src="../../../assets/icon/skills/alchemy.png">
  </ion-segment-button>
  <ion-segment-button (click)="setSearch('woodcutting')" value="woodcutting">
    <img style="width: 2rem;" src="../../../assets/icon/skills/woodcutting.png">
  </ion-segment-button>
  <ion-segment-button (click)="setSearch('fishing')" value="fishing">
    <img style="width: 2rem;" src="../../../assets/icon/skills/fishing.png">
  </ion-segment-button>
  <ion-segment-button (click)="setSearch('firemaking')" value="firemaking">
    <img style="width: 2rem;" src="../../../assets/icon/skills/firemaking.png">
  </ion-segment-button>
  <ion-segment-button (click)="setSearch('cooking')" value="cooking">
    <img style="width: 2rem;" src="../../../assets/icon/skills/cooking.png">
  </ion-segment-button>
  <ion-segment-button (click)="setSearch('runecrafting')" value="runecrafting">
    <img style="width: 2rem;" src="../../../assets/icon/skills/runecrafting.png">
  </ion-segment-button>
  <ion-segment-button (click)="setSearch('mining')" value="mining">
    <img style="width: 2rem;" src="../../../assets/icon/skills/mining.png">
  </ion-segment-button>
  <ion-segment-button (click)="setSearch('thieving')" value="thieving">
    <img style="width: 2rem;" src="../../../assets/icon/skills/thieving.png">
  </ion-segment-button>
  <ion-segment-button (click)="setSearch('agility')" value="agility">
    <img style="width: 2rem;" src="../../../assets/icon/skills/agility.png">
  </ion-segment-button>
  <ion-segment-button (click)="setSearch('forging')" value="forging">
    <img style="width: 2rem;" src="../../../assets/icon/skills/forging.png">
  </ion-segment-button>
</ion-segment>

<ion-content>
  <div class="ion-padding">
    <ngx-datatable
      class="dark"
      [rows]="rows"
      [columns]="[
        { name: 'Ranking' },
        { name: 'Name' },
        { name: 'XP' },
        { name: 'Level' },
        { name: 'Mode' }
      ]"
      [columnMode]="ColumnMode.force"
      [headerHeight]="50"
      [footerHeight]="50"
      rowHeight="auto"
      [limit]="18"
    >
    </ngx-datatable>
  </div>
</ion-content>
</div>
