<div class="form-group">
    <input 
    [class.is-invalid] ="ngControl.touched && ngControl.invalid"
    type="{{type}}"
    class="form-control text-form"
    [formControl]="$any(ngControl.control)"
    placeholder="{{label}}" matInput>
    <div *ngIf="ngControl.control?.errors?.['required']" class="invalid-feedback">Please Enter a {{label}}</div>
    <div *ngIf="ngControl.control?.errors?.['minlength']" class="invalid-feedback">{{label}} must be atleast {{ngControl.control?.errors?.['minlength']['requiredLength']}}</div>
    <div *ngIf="ngControl.control?.errors?.['maxlength']" class="invalid-feedback">{{label}} must be at most {{ngControl.control?.errors?.['maxlength']['requiredLength']}}</div>
</div>
