<ion-grid class="stats-text">
  <ion-row>
    <ion-col size="3" size-md="3" size-lg="3">
      <h3 class="subheading">Offense</h3>
      Crit Chance:
      {{ playerCharacter.character.combatStats.combat.criticalHitChance }}
      <br />
      Crit Damage:
      + {{ playerCharacter.character.combatStats.combat.criticalHitDamage }} %
      <br />
      Attack Speed:
      {{ playerCharacter.character.combatStats.combat.attackSpeed }}
      <br />
      Accuracy: {{ playerCharacter.character.combatStats.combat.accuracy }}
    </ion-col>
    <ion-col size="3" size-md="3" size-lg="3">
      <h3 class="subheading">Attributes</h3>
      Strength: {{ playerCharacter.character.combatStats.stats.strength }}
      <br />
      Dexterity: {{ playerCharacter.character.combatStats.stats.dexterity }}
      <br />
      Intelligence:
      {{ playerCharacter.character.combatStats.stats.intelligence }}
      <br />
      Endurance: {{ playerCharacter.character.combatStats.stats.endurance }}
      <br />
      Agility: {{ playerCharacter.character.combatStats.stats.agility }}
      <br />
      Luck: {{ playerCharacter.character.combatStats.stats.luck }}
    </ion-col>
    <ion-col size="3" size-md="3" size-lg="3">
      <h3 class="subheading">Defence</h3>
      Armor: {{ playerCharacter.character.combatStats.defenses.armor }}
      <br />
      Evasion: {{ playerCharacter.character.combatStats.defenses.evasion }}
      <br />
      Magic Resist:
      {{ playerCharacter.character.combatStats.defenses.magicResistance }}
      <br />
      Block Chance:
      {{ playerCharacter.character.combatStats.combat.blockChance }}
      <br />
      Parry Chance:
      {{ playerCharacter.character.combatStats.combat.parryChance }}
    </ion-col>
    <ion-col size="3" size-md="3" size-lg="3">
      <h3 class="subheading">Resists</h3>
      Fire Res:
      {{ playerCharacter.character.combatStats.resistances.fireResistance }}
      <br />
      Ice Res:
      {{ playerCharacter.character.combatStats.resistances.iceResistance }}
      <br />
      Lightining Res:
      {{
        playerCharacter.character.combatStats.resistances.lightningResistance
      }}
      <br />
      Poison Res:
      {{ playerCharacter.character.combatStats.resistances.poisonResistance }}
      <br />
      Bleed Res:
      {{ playerCharacter.character.combatStats.resistances.bleedResistance }}
      <br />
      Stun Res:
      {{ playerCharacter.character.combatStats.resistances.stunResistance }}
      <br />
      Confuse Res:
      {{ playerCharacter.character.combatStats.resistances.confuseResistance }}
      <br />
      Silence Res:
      {{ playerCharacter.character.combatStats.resistances.silenceResistance }}
    </ion-col>
  </ion-row>
</ion-grid>
