<app-skill-information
  [playerCharacter]="playerCharacter.character.skills.mining"
  [players]="miners"
></app-skill-information>
<app-skill-rewards
  [playerCharacter]="playerCharacter.character.skills.mining"
  [skillProgress]="miningProgress"
  [activeNode]="activeOre"
>
</app-skill-rewards>
<span *ngFor="let ore of oreTypesToMine">
  <div
    *ngIf="playerCharacter.character.skills.mining.level >= ore.level"
    class="mining-box"
    (click)="startTimer(ore)"
  >
    <app-mining-spot
      [bonus]="playerCharacter.character.skills.mining.tool!.bonus || 1"
      [ore]="ore"
    ></app-mining-spot>
  </div>
</span>
<span *ngFor="let i of lockedOres">
  <div
    *ngIf="playerCharacter.character.skills.mining.level < i"
    class="mining-box"
  >
    <app-locked [url]="'mining'" [level]="i"></app-locked>
  </div>
</span>