.register-form {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 5rem;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    color: black;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin: 0;
}

.toolbar-register {
    background-color: rgb(0, 160, 107);
    width: 100%;
} 

.forms {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}