<div>
  <mat-toolbar class="toolbar-register mat-elevation-z8" style="height: 4.3rem">
    <mat-toolbar-row>
        <button 
        mat-raised-button #tooltip="matTooltip"
          matTooltip="Info about the action"
          matTooltipHideDelay="100000"
        (click)="login = !login">
            <img style="width: 20px;" src="../../assets/general/edit.png">
          </button>
      <h1 style="float: right" class="center" *ngIf="!login">
        {{ "Register" | titlecase }}
      </h1>
      <h1 style="float: right" *ngIf="login">
        {{ "Login" | titlecase }}
      </h1>
    </mat-toolbar-row>
  </mat-toolbar>

  <div *ngIf="!login" class="register-form">
    <h2>
      {{ "Register" | titlecase }}
    </h2>

    <p>
      Welcome to Alchemy! Please fill out the form below to create your account.
    </p>
    <form
      class="forms"
      (keyup.enter)="submitRegistration()"
      [formGroup]="registerForm"
    >
      <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input formControlName="username" matInput />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input formControlName="password" type="password" matInput />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Confirm Password</mat-label>
        <input type="password" matInput />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input formControlName="email" matInput />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Character Name</mat-label>
        <input formControlName="characterName" matInput />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Gamemode</mat-label>
        <mat-select formControlName="characterAlignment">
          <mat-option value="normal">Normal</mat-option>
          <mat-option value="hardcore">Harcore</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </div>

  <div *ngIf="login" class="register-form">
    <h2>
      {{ "Login" | titlecase }}
    </h2>

    <p>Welcome to Alchemy! Please login to start your adventure!</p>
    <form
      class="forms"
      (keyup.enter)="submitRegistration()"
      [formGroup]="registerForm"
    >
      <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input formControlName="username" matInput />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input formControlName="password" type="password" matInput />
      </mat-form-field>
    </form>
  </div>
</div>
