@import "~../../../../variables.scss";

.agility-box {
    width: 22rem;
    background-color: $primary-dark;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 1.9rem;
    text-align: center;
    box-shadow: inset 0 0 0 1px #142b2b,0 0 30px -3px #000;
    border-radius: 5px;
    border-top: 3px solid brown;
}

.agility-box:focus {
    -webkit-transform: scale(2);
    transform: scale(1.05);
    cursor: pointer;
}

.agility-box:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    cursor: pointer;
}

.progress-bar {
    flex-direction: column;
    height: 20px;
}