<app-skill-information
  [playerCharacter]="playerCharacter.character.skills.agility"
  [players]="runners"
></app-skill-information>
<app-skill-rewards
  [playerCharacter]="playerCharacter.character.skills.agility"
  [skillProgress]="agilityProgress"
  [activeNode]="activeCourse"
>
</app-skill-rewards>
<span *ngFor="let course of coursesToRun">
  <div
    *ngIf="playerCharacter.character.skills.agility.level >= course.level"
    class="agility-box"
    (click)="startTimer(course)"
  >
    <app-agility-spot
      [bonus]="playerCharacter.character.skills.agility.tool!.bonus || 1"
      [course]="course"
    ></app-agility-spot>
  </div>
</span>
<span *ngFor="let i of lockedCourses">
  <div
    *ngIf="playerCharacter.character.skills.agility.level < i"
    class="agility-box"
  >
    <app-locked [url]="'agility'" [level]="i"></app-locked>
  </div>
</span>
