/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: inter,-apple-system,BlinkMacSystemFont,segoe ui,Roboto,helvetica neue,Arial,noto sans,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  color: #edf0f2;
  text-align: left;
  background-color: #edf0f2;
}

.mat-drawer-inner-container::-webkit-scrollbar {
  display: none;
}

.mat-drawer-side {
  border-right: none;
}

/* width */
::-webkit-scrollbar {
  background-color: transparent;
  width: 10px;
  border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #363636;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(119, 119, 119);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(119, 119, 119);
}
/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    color: whitesmoke;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: rgb(255, 255, 255, 0.9);
}
