.chat-ui {
    position: relative;
    width: 100%;
    height: 250px;
}

.chat-ui-text-area {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
}

.chat-text {
    font-size: 0.75rem;
    font-weight: 500;
}

.chat-text-server {
    color: rgb(0, 0, 0);
}

.chat-text-action {
    color: rgb(247, 20, 20);
}

.chat-box {
    margin: 0.5rem;
    overflow-y: scroll;
    display: flex;
    flex-direction: column-reverse;
    overflow-wrap: break-word;
    color: #f5f5f5;
    font-weight: 700;
    min-height: 180px;
    cursor: pointer;
}

.Server {
    color: rgb(255, 0, 0);
    font-size: 0.85rem;
    text-shadow: none;
}