<ngx-loading-bar color="green"></ngx-loading-bar>

<ion-app
  *ngIf="showLanding && !loggedIn && !loginForm!; loading"
  class="landing-background"
  no-padding
  no-margin
>
  <div>
    <ion-content>
      <app-landing></app-landing>
    </ion-content>
  </div>
</ion-app>

<ion-app *ngIf="loggedIn" no-padding no-margin>
  <div class="flex-container">
    <span
      style="margin: 1rem; padding-right: 2rem; border-right: #017440 1px solid"
      class="main-text"
    >
      Alchemy Idle
    </span>
    <div class="space-start">
      <ion-note
      routerDirection="root"
      [routerLink]="['/app/Town/Main']"
      lines="none"
      detail="false"
      routerLinkActive="selected"
      class="flex-item"
      >Town</ion-note
    >
    <ion-note
      routerDirection="root"
      [routerLink]="['/app/Leaderboards/Statistics']"
      lines="none"
      detail="false"
      routerLinkActive="selected"
      class="flex-item"
      >Leaderboards</ion-note
    >
    <ion-note
    routerDirection="root"
    [routerLink]="['/inventory']"
    lines="none"
    detail="false"
    routerLinkActive="selected"
    class="flex-item"
    >Inventory</ion-note
  >
    <ion-note       
    routerDirection="root"
    [routerLink]="['/']"
    lines="none"
    detail="false"
    routerLinkActive="selected"
    class="flex-item" (click)="logout()">Sign Out</ion-note>
    </div>
  </div>



  <ion-router-outlet></ion-router-outlet>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button size="small">
      <ion-icon name="chevron-up-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button>
        <ion-icon name="settings-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="stats-chart-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="openChat()">
        <ion-icon name="chatbox-ellipses-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="logo-discord"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <div class="chat-box" *ngIf="showChat">
    <app-chat></app-chat>
  </div>
</ion-app>
