<ion-app *ngIf="loggedIn" no-padding no-margin>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list-header class="header" style="min-height: 8rem; padding:0; margin:0;">
          <img class="main-logo" src="../../assets/logo/logo.PNG">
          <img class="main-logo-two" src="../../assets/logo/logoText.png">
          <p class="main-logo-text">AlcheIdle</p>
        </ion-list-header>
        <ion-list id="inbox-list">
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
              <img style="width: 1.5rem" slot="start" src="../assets/menu-icons/{{p.title.toLowerCase()}}.png" />
              <ion-label>{{ p.title }}
                 <span style="float: right; margin-right: 0.6rem;" *ngIf="p.gold"> 
                  {{playerCharacter.character.combatStats.progression.gold}}
                </span>
                <span style="float: right; margin-right: 0.6rem;" *ngIf="p.inventory">
                  {{playerCharacter.character.backpack.length}}/{{playerCharacter.character.combatStats.progression.inventorySize}}
                </span>
                <span style="float: right; margin-right: 0.6rem;" *ngIf="p.level">
                  Lvl {{playerCharacter.character.combatStats.progression.level}}
                </span>
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-list id="inbox-list">
          <ion-menu-toggle auto-hide="false" *ngFor="let p of skills; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-list id="labels-list">
          <ion-list-header>Settings</ion-list-header>

          <!-- <ion-item *ngFor="let label of labels" lines="none">
            <ion-icon slot="start" ios="bookmark-outline" md="bookmark-sharp"></ion-icon>
            <ion-label>{{ label }}</ion-label>
          </ion-item> -->

          <ion-item style="cursor: pointer;" (click)="signOut()" lines="none" >
            <ion-icon name="log-out-outline"></ion-icon>
            <ion-label style="margin-left: 1.8rem;"> Sign Out</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>

<div class="chat-box">
  <ion-accordion-group>
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <ion-label>Global Chat</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <app-chat></app-chat>
      </div>
    </ion-accordion>
  </ion-accordion-group>
</div>


<ion-app *ngIf="!loggedIn && !loginForm">
  <ion-content>
    <app-login></app-login>
  </ion-content>
</ion-app>