<mat-toolbar class="skill-information">
  <mat-toolbar-row>
    <div style="width: 100%">
      <h1 style="margin-top: 2rem; text-align: center">Adventure Log</h1>
      <span>Player Health: {{ this.playerItems.health }}</span>
      <br />
      <span>Gold: {{ this.playerItems.coins }}</span>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<div style="color: white; position: relative">
  <div class="items">
    <span>Logs: {{ this.playerItems.logs }}</span>
    <span>Ore: {{ this.playerItems.ore }}</span>
    <span>Food: {{ this.playerItems.food }}</span>
    <span>Water: {{ this.playerItems.water }}</span>
    <span>Fish: {{ this.playerItems.fish }}</span>
    <span>Meat: {{ this.playerItems.meat }}</span>
    <span>Arrows: {{ this.playerItems.arrows }}</span>
    <span>Gems: {{ this.playerItems.gems }}</span>
    <span>Diamonds: {{ this.playerItems.diamonds }}</span>
    <span>Jewels: {{ this.playerItems.jewels }}</span>
  </div>
  <div class="adventureLog">
    <div class="messages" *ngFor="let message of messageArray">
      {{ message | titlecase }}
    </div>
  </div>
</div>
