<div>
    <img src="../../../../assets/shop/{{data.name}}.png">
    <h1>
        Buy {{ data.name | titlecase }}?
    </h1>
    <p>
        {{ data.description }}
    </p>

    <p>
        <img style="width: 15px;" src="../../../../assets/general/gold.png"> {{data.value | number}}
    </p>

    <div style="display: flex; flex-direction: row;">
        <button (click)="buyItem()" class="dialog-button" mat-button>Buy</button>
        <button (click)="closeDialog()" class="dialog-button" mat-button>Close</button>
    </div>
</div>
