<mat-toolbar class="skill-information">
  <mat-progress-bar
    class="progress-bar-skill-level"
    mode="determinate"
    matTooltip="{{this.playerCharacter.xpCurrent}} / {{this.getExperiencePointsForLevel()}}"
    matTooltipHideDelay="1000"
    [value]="
      (this.playerCharacter.xpCurrent / this.getExperiencePointsForLevel()) *
      100
    "
  ></mat-progress-bar>

  <mat-toolbar-row style="justify-content: space-evenly">
    <div>
      Skill Level
      <span class="level"> {{ this.playerCharacter.level }} / 99 </span>
    </div>
    <div>
      <span class="level">
        {{ +players }}
      </span>
    </div>
    <div>
      Current Bonus:
      <span class="level"> {{ 1 + 0.001 * players }}x </span>
    </div>
    <div>
      Skill XP
      <span class="xp">
        {{ this.playerCharacter.xpCurrent }}
        /
        {{ this.getExperiencePointsForLevel() | number }}
      </span>
    </div>
    <div>
      <span class="xp">
        {{ this.playerCharacter.tool?.name || "None" }}
      </span>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
