<div class="thieving-box">
  <p style="margin-bottom: 0">Thieving</p>
  <p style="font-weight: bold; margin-bottom: 0">
    {{ activeThieving.name | titlecase }}
  </p>
  <p>
    {{ activeThieving.xp }} XP /
    <img style="width: 0.7rem" src="./assets/general/hourglass.png" />
    {{ (activeThieving.time * bonus).toFixed(1) }} seconds
  </p>
  <img
    style="width: 4rem; margin-bottom: 1.875rem"
    src="./assets/thieving/{{ activeThieving.name }}.png"
  />

  <mat-progress-bar
    class="progress-bar"
    mode="determinate"
    [color]="'primary'"
    [value]=""
  >
  </mat-progress-bar>
</div>
