<div>

  <span
  routerDirection="root"
  [routerLink]="['/app/Town/Main']"
  lines="none"
  detail="false"
  routerLinkActive="selected"
  class="return-text">
    <ion-icon name="return-down-back-outline">

    </ion-icon> Return 
  </span>

  <img
    style="position: absolute; left: 18.5%"
    src="../../../../assets/dungeons/border-element.png"
  />

  <ion-title class="dungeon-title" style="text-align: center">
    Select Dungeon
  </ion-title>

  <div style="display: flex; flex-wrap: wrap">
    <div class="dungeon-select background1">
      <div style="min-height: 85%"></div>
      <ion-label>
        <h2 class="catacombs">Catacombs</h2>
      </ion-label>
      <ion-note>
        <ion-icon size="large" name="lock-closed"></ion-icon>
      </ion-note>
    </div>

    <div class="dungeon-select background2">
      <div style="min-height: 85%"></div>
      <div>
        <ion-label>
          <h2 class="depths">Depths</h2>
        </ion-label>
        <ion-note>
          <ion-icon size="large" name="lock-closed"></ion-icon>
        </ion-note>
      </div>
    </div>

    <div class="dungeon-select background3">
      <div style="min-height: 85%"></div>
      <ion-label>
        <h2 class="hydrix">Hydrix Laboratory</h2>
      </ion-label>
      <ion-note>
        <ion-icon size="large" name="lock-closed"></ion-icon>
      </ion-note>
    </div>

    <div class="dungeon-select background4">
      <div style="min-height: 85%"></div>
      <ion-label>
        <h2 class="lightning">Thunder Rock</h2>
      </ion-label>
      <ion-note>
        <ion-icon size="large" name="lock-closed"></ion-icon>
      </ion-note>
    </div>

    <div class="dungeon-select background5">
      <div style="min-height: 85%"></div>
      <ion-label>
        <h2 class="swamp">Hallowed Swamps</h2>
      </ion-label>
      <ion-note>
        <ion-icon size="large" name="lock-closed"></ion-icon>
      </ion-note>
    </div>
  </div>
</div>
