<app-skill-information
  [playerCharacter]="playerCharacter.character.skills.fishing"
  [players]="fishers"
></app-skill-information>
<app-skill-rewards
  [playerCharacter]="playerCharacter.character.skills.fishing"
  [skillProgress]="fishProgress"
  [activeNode]="activeFish"
>
</app-skill-rewards>
<span *ngFor="let fish of fishTypes">
  <div
    *ngIf="playerCharacter.character.skills.fishing.level >= fish.level"
    class="fishing-box"
    (click)="startTimer(fish)"
  >
    <app-fishing-spot
      [bonus]="playerCharacter.character.skills.fishing.tool!.bonus || 1"
      [fish]="fish"
    ></app-fishing-spot>
  </div>
</span>
<span *ngFor="let i of lockedFish">
  <div
    *ngIf="playerCharacter.character.skills.fishing.level < i"
    class="fishing-box"
  >
    <app-locked [url]="'fish'" [level]="i"></app-locked>
  </div>
</span>
