<div class="main-background">
  <div class="footer space-center">
    <div
      routerDirection="root"
      [routerLink]="['/combat/CombatArea/Select']"
      lines="none"
      detail="false"
      routerLinkActive="selected"
      class="flex-item"
    >
      <div class="container">
        <span class="centered">Adventure</span>
        <img src="../../../assets/general/NavButton.svg" />
      </div>
    </div>
    <div
      routerDirection="root"
      [routerLink]="['/combat/CombatArea/Dungeons']"
      lines="none"
      detail="false"
      routerLinkActive="selected"
      class="flex-item"
    >
      <div class="container">
        <span class="centered">Dungeons</span>
        <img src="../../../assets/general/NavButton.svg" />
      </div>
    </div>
    <div
      routerDirection="root"
      [routerLink]="['/skilling/SkillingArea/Select']"
      lines="none"
      detail="false"
      routerLinkActive="selected"
      class="flex-item"
    >
      <div class="container">
        <span class="centered">Skilling</span>
        <img src="../../../assets/general/NavButton.svg" />
      </div>
    </div>
    <div
      routerDirection="root"
      [routerLink]="['/OpeningLoot']"
      lines="none"
      detail="false"
      routerLinkActive="selected"
      class="flex-item"
    >
      <div class="container">
        <span class="centered">Treasury</span>
        <img src="../../../assets/general/NavButton.svg" />
      </div>
    </div>
    <div class="flex-item">
      <div class="container">
        <span class="centered">Armoury</span>
        <img src="../../../assets/general/NavButton.svg" />
      </div>
    </div>
    <div class="flex-item">
      <div class="container">
        <span class="centered">Shops</span>
        <img src="../../../assets/general/NavButton.svg" />
      </div>
    </div>
  </div>
</div>
