.register-form {
    display: flex;
    flex-direction: column;
    background-color: rgba(172, 72, 187, 0.9);
    padding: 10rem;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    color: white;
}