<div *ngIf="player$ | async; let player">
    <mat-drawer-container *ngIf="authenticated" class="sidebar" style="position: relative;">
      <mat-drawer #sidenav mode="side" [(opened)]="opened" style="width: 15rem;   overflow-y: hidden;" class="mat-elevation-z8" mode="side">
        <mat-nav-list class="side-nav-list heading opacityBackground">
          <div class="opacityBackground">
            <div>
              <h1 class="nav-item mainHeading">Alche Idle</h1>
            </div>
            <div>
              <h2 class="nav-item subHeading">V0.0.1</h2>
            </div>
          <mat-list-item [routerLinkActive]="['is-active']" (click)="setTitle('adventure')" [routerLink]="'/adventure'" class="nav-item"><img class="icon" src="../assets/menu-icons/adventure.png">Adventure</mat-list-item>
          <mat-list-item [routerLinkActive]="['is-active']" (click)="setTitle('shop')" [routerLink]="'/shop'" class="nav-item"><img class="icon" src="../assets/menu-icons/shop.png">Shop</mat-list-item>
          <mat-list-item [routerLinkActive]="['is-active']" (click)="setTitle('town')" [routerLink]="'/town'" class="nav-item"><img class="icon" src="../assets/menu-icons/town.png">Town</mat-list-item>
          <mat-list-item [routerLinkActive]="['is-active']" (click)="setTitle('alchemy')" [routerLink]="'/alchemy'" class="nav-item"><img class="icon" src="../assets/menu-icons/alchemy.png">Alchemy</mat-list-item>
          <mat-list-item [routerLinkActive]="['is-active']" (click)="setTitle('quests')" [routerLink]="'/quests'" class="nav-item"><img class="icon" src="../assets/menu-icons/quests.png">Quests</mat-list-item>
          <h2 class="nav-item">Combat</h2>
          <mat-list-item [routerLinkActive]="['is-active']" (click)="setTitle('attack')" [routerLink]="'/combat'" class="nav-item"><img class="icon" src="../assets/menu-icons/attack.png">Attack <span style="margin-left: auto;">(0 / 99)</span></mat-list-item>
          <mat-list-item [routerLinkActive]="['is-active']" (click)="setTitle('dungeon')" [routerLink]="'/dungeon'" class="nav-item"><img class="icon" src="../assets/menu-icons/dungeon.png">Dungeons <span style="margin-left: auto;">(1 / 99)</span></mat-list-item>
          <mat-list-item [routerLinkActive]="['is-active']" (click)="setTitle('raids')" [routerLink]="'/raid'" class="nav-item"><img class="icon" src="../assets/menu-icons/raids.png">Raids <span style="margin-left: auto;">(1 / 99)</span></mat-list-item>
          <h2 class="nav-item">Skills</h2>
          <mat-list-item [routerLinkActive]="['is-active']" (click)="setTitle('woodcutting')" [routerLink]="'/woodcutting'" class="nav-item"><img class="icon" src="../assets/menu-icons/woodcutting.png">Woodcutting <span style="margin-left: auto;">({{player.playerData.character.skills.woodcutting.level}} / 99)</span></mat-list-item>
          <mat-list-item [routerLinkActive]="['is-active']" (click)="setTitle('firemaking')" [routerLink]="'/firemaking'" class="nav-item"><img class="icon" src="../assets/menu-icons/firemaking.png">Firemaking <span style="margin-left: auto;">({{player.playerData.character.skills.firemaking.level}} / 99)</span></mat-list-item>
          <mat-list-item [routerLinkActive]="['is-active']" (click)="setTitle('fishing')" [routerLink]="'/fishing'" class="nav-item"><img class="icon" src="../assets/menu-icons/fishing.png">Fishing <span style="margin-left: auto;">({{player.playerData.character.skills.fishing.level}} / 99)</span></mat-list-item>
          <mat-list-item [routerLinkActive]="['is-active']" (click)="setTitle('cooking')" [routerLink]="'/cooking'" class="nav-item"><img class="icon" src="../assets/menu-icons/cooking.png">Cooking <span style="margin-left: auto;">({{player.playerData.character.skills.cooking.level}} / 99)</span></mat-list-item>
          <mat-list-item [routerLinkActive]="['is-active']" (click)="setTitle('runecrafting')" [routerLink]="'/runecrafting'" class="nav-item"><img class="icon" src="../assets/menu-icons/runecrafting.png">Runecrafting <span style="margin-left: auto;">({{player.playerData.character.skills.runecrafting.level}} / 99)</span></mat-list-item>
          <mat-list-item [routerLinkActive]="['is-active']" (click)="setTitle('mining')" [routerLink]="'/mining'" class="nav-item"><img class="icon" src="../assets/menu-icons/mining.png">Mining <span style="margin-left: auto;">({{player.playerData.character.skills.mining.level}} / 99)</span></mat-list-item>
          <mat-list-item [routerLinkActive]="['is-active']" (click)="setTitle('smithing')" [routerLink]="'/smithing'" class="nav-item"><img class="icon" src="../assets/menu-icons/smithing.png">Smithing <span style="margin-left: auto;">({{player.playerData.character.skills.smithing.level}} / 99)</span></mat-list-item>
          <mat-list-item [routerLinkActive]="['is-active']" (click)="setTitle('thieving')" [routerLink]="'/thieving'" class="nav-item"><img class="icon" src="../assets/menu-icons/thieving.png">Thieving <span style="margin-left: auto;">({{player.playerData.character.skills.thieving.level}} / 99)</span></mat-list-item>
          <mat-list-item [routerLinkActive]="['is-active']" (click)="setTitle('fletching')" [routerLink]="'/fletching'" class="nav-item"><img class="icon" src="../assets/menu-icons/fletching.png">Fletching <span style="margin-left: auto;">({{player.playerData.character.skills.fletching.level}} / 99)</span></mat-list-item>
          <mat-list-item [routerLinkActive]="['is-active']" (click)="setTitle('crafting')" [routerLink]="'/crafting'" class="nav-item"><img class="icon" src="../assets/menu-icons/crafting.png">Crafting <span style="margin-left: auto;">({{player.playerData.character.skills.crafting.level}} / 99)</span></mat-list-item>
          <mat-list-item [routerLinkActive]="['is-active']" (click)="setTitle('agility')" [routerLink]="'/agility'" class="nav-item"><img class="icon" src="../assets/menu-icons/agility.png">Agility <span style="margin-left: auto;">({{player.playerData.character.skills.agility.level}} / 99)</span></mat-list-item>
          <mat-list-item [routerLinkActive]="['is-active']" (click)="setTitle('herblore')" [routerLink]="'/herblore'" class="nav-item"><img class="icon" src="../assets/menu-icons/herblore.png">Herblore <span style="margin-left: auto;">({{player.playerData.character.skills.herblore.level}} / 99)</span></mat-list-item>
        </div>
        </mat-nav-list>
      </mat-drawer>
      <mat-drawer-content class="main-content opacityBackground" style="max-height: 100vh;"> 
        <mat-toolbar class="{{title || 'standard'}} mat-elevation-z8" style="height: 4.3rem;">
          <mat-toolbar-row>
            <button mat-icon-button color="primary" (click)="sidenav.toggle()">
              <mat-icon>menu</mat-icon>
            </button>
            <span>
              <img class="icon" src="../assets/menu-icons/{{title || 'adventure' | lowercase}}.png">
            </span>
            {{title || "AlcheIdle" | titlecase}}

            <span style="margin-left: auto; margin-right: 15%;">
              <span style="color: black; font-size: 14px;">
              {{player.playerData.username}}
              </span>
              <button mat-button [matMenuTriggerFor]="menu">
                <mat-icon>settings</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="logout()">Logout</button>
              </mat-menu>
            </span>
          </mat-toolbar-row>
        </mat-toolbar>
        <div class="opacityBackgroundMain">
          <router-outlet></router-outlet>
          <div class="chatBox">
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Global Chat
                </mat-panel-title>
              </mat-expansion-panel-header>
              <app-chat></app-chat>
            </mat-expansion-panel>
          </div>
        </div>
      </mat-drawer-content>
    </mat-drawer-container>

    <div class="sign-in" *ngIf="!authenticated">
      <div *ngIf="login">
        <app-login></app-login>
      </div>
      <div *ngif="!login">
        <app-register></app-register>
      </div>
    </div>
  </div>
