.left-bar {
    background-image: url("../../assets/logo/background.jpg");
    background-size: cover;
    height: 100vh;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 92vh;
  }
  
  ion-item {
    width: 70%;
    margin: 0.5rem;
  }
  
  ion-radio-group {
    width: 100%;
    margin-left: 20rem;
  }
  
  ion-button {
    width: 70%;
    margin: 0.5rem;
    font-weight: 500;
  }
  
  .main-logo {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, 50%);
    width: 20rem;
    z-index: 10000;
  }
  
  .main-logo-two {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 205%);
    top: 20rem;
    width: 20rem;
    z-index: 10001;
  }
  
  .main-logo-text {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 310%);
    top: 20rem;
    color: black;
    font-family: 'Mariage';
    font-weight: 800;
    font-size: 2rem;
    z-index: 10002;
  }
  
  .button-link {
    cursor: pointer;
  }

  ion-grid {
    --ion-grid-padding: 0px
  }

  ion-toast { --height: 50px;}
  
  @media screen and (max-width: 768px) {
    .left-bar {
      height: 30vh;
    }
  
    .main-logo {
      position: absolute;
      left: 50%;
      top: 0;
      transform: translate(-50%, 0%);
      width: 15rem;
      z-index: 10000;
    }
    
    .main-logo-two {
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0%);
      top: 12.3rem;
      width: 15rem;
      z-index: 10001;
    }
    
    .main-logo-text {
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0%);
      top: 10rem;
      color: black;
      font-family: 'Mariage';
      font-weight: 800;
      font-size: 2rem;
      z-index: 10002;
    }
  
    ion-radio-group {
      width: 100%;
      margin-left: 6rem;
    }
    
  }