<form
  style="padding: 3rem;"
  [formGroup]="this.loginForm"
>
  <div style="margin: auto">
    <ion-label position="stacked">Enter your username</ion-label>
    <ion-input
      type="text"
      placeholder="Your username"
      formControlName="username"
      style="border: rgb(32, 32, 32) 1px solid;"
    ></ion-input>
  </div>

  <div>
    <ion-label position="stacked">Password</ion-label>
    <ion-input
      type="password"
      placeholder="Your password"
      formControlName="password"
      style="border: rgb(32, 32, 32) 1px solid;"
    ></ion-input>
  </div>

  <ion-button size="large" (click)="submitLogin()" class="button-text" style="margin-left: 2rem;" fill="clear"
    >Play Now<ion-icon name="enter-outline"></ion-icon
  ></ion-button>
</form>
