@import "~../../../../variables.scss";

::ng-deep .mat-dialog-container {
  background-color: $primary-dark;
  padding: 3rem;
  border: 2px solid $primary;
  color: white;
}

.dialog-button {
    border: 2px solid $primary;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialog-button:hover {
    background-color: #576f94;
    cursor: pointer;
}