<div>
  <mat-toolbar class="skill-information">
    <mat-toolbar-row>
      <div style="width: 100%">
        <span>
          <div style="margin-left: 1rem">
            Skill Level
            <span class="level">
              {{ this.playerCharacter.character.skills.woodcutting.level }} / 99
            </span>
            Users Woodcutting
            <span class="level">
              {{ +woodcutters }}
            </span>

            Current Bonus:
            <span class="level">
              {{ 1 + 0.001 * woodcutters }}x
            </span>
            
            Skill XP
            <span class="xp">
              {{ this.playerCharacter.character.skills.woodcutting.xpCurrent }}
              /
              {{ this.getExperiencePointsForLevel() | number }}
            </span>
          </div>
          <mat-progress-bar
            class="progress-bar-skill-level"
            mode="determinate"
            [value]="
              (this.playerCharacter.character.skills.woodcutting.xpCurrent /
                this.getExperiencePointsForLevel()) *
              100
            "
          ></mat-progress-bar>
        </span>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-toolbar class="skill-information">
    <mat-toolbar-row>
      <div style="width: 100%">
        <span>
          <mat-progress-bar
          class="progress-bar"
          mode="determinate"
          [value]="treeProgress"
        ></mat-progress-bar>
        <div style="margin-left: 1rem">
          <div class="rewardContainer" *ngIf="activeTree">
            <span>
              {{ this.playerCharacter.character.skills.woodcutting.tool?.name || "None" | titlecase }}
            </span>

            <div>
              <img matTooltip="{{activeTree.name | titlecase}}" style="width: 36px;" src="../../../../assets/trees/{{activeTree.name}}.png"  alt="None">
            </div>
            <div>
              <img matTooltip="{{activeTree.logs | titlecase}}" style="width: 36px;" src="../../../../assets/items/{{activeTree.logs}}.png"  alt="None">
            </div>
          </div>
        </div>
        </span>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <div style="display: flexbox; margin-left: 6rem">
    <div class="woodcutting-box" (click)="startTimer(trees.tree)">
      <app-tree-spot [bonus]="playerCharacter.character.skills.woodcutting.tool!.bonus" [tree]="trees.tree"></app-tree-spot>
    </div>
    <div
      *ngIf="
        this.playerCharacter.character.skills.woodcutting.level >=
        trees.oak.level
      "
      class="woodcutting-box"
      (click)="startTimer(trees.oak)"
    >
      <app-tree-spot [bonus]="playerCharacter.character.skills.woodcutting.tool!.bonus" [tree]="trees.oak"></app-tree-spot>
    </div>
    <div
      *ngIf="
        this.playerCharacter.character.skills.woodcutting.level >=
        trees.willow.level
      "
      class="woodcutting-box"
      (click)="startTimer(trees.willow)"
    >
      <app-tree-spot [bonus]="playerCharacter.character.skills.woodcutting.tool!.bonus" [tree]="trees.willow"></app-tree-spot>
    </div>
    <div
      *ngIf="
        this.playerCharacter.character.skills.woodcutting.level >=
        trees.bonsai.level
      "
      class="woodcutting-box"
      (click)="startTimer(trees.bonsai)"
    >
      <app-tree-spot [bonus]="playerCharacter.character.skills.woodcutting.tool!.bonus" [tree]="trees.bonsai"></app-tree-spot>
    </div>
    <div
      *ngIf="
        this.playerCharacter.character.skills.woodcutting.level >=
        trees.yew.level
      "
      class="woodcutting-box"
      (click)="startTimer(trees.yew)"
    >
      <app-tree-spot [bonus]="playerCharacter.character.skills.woodcutting.tool!.bonus" [tree]="trees.yew"></app-tree-spot>
    </div>
    <div
      *ngIf="
        this.playerCharacter.character.skills.woodcutting.level >=
        trees.magic.level
      "
      class="woodcutting-box"
      (click)="startTimer(trees.magic)"
    >
      <app-tree-spot [bonus]="playerCharacter.character.skills.woodcutting.tool!.bonus" [tree]="trees.magic"></app-tree-spot>
    </div>
    <div
      *ngIf="
        this.playerCharacter.character.skills.woodcutting.level >=
        trees.demon.level
      "
      class="woodcutting-box"
      (click)="startTimer(trees.demon)"
    >
      <app-tree-spot [bonus]="playerCharacter.character.skills.woodcutting.tool!.bonus" [tree]="trees.demon"></app-tree-spot>
    </div>
    <div
      *ngIf="
        this.playerCharacter.character.skills.woodcutting.level >=
        trees.divine.level
      "
      class="woodcutting-box"
      (click)="startTimer(trees.divine)"
    >
      <app-tree-spot [bonus]="playerCharacter.character.skills.woodcutting.tool!.bonus" [tree]="trees.divine"></app-tree-spot>
    </div>
    <div
      *ngIf="
        this.playerCharacter.character.skills.woodcutting.level <
        trees.oak.level
      "
      class="locked"
    >
      <app-locked-tree [level]="trees.oak.level"></app-locked-tree>
    </div>
    <div
      *ngIf="
        this.playerCharacter.character.skills.woodcutting.level >=
          trees.oak.level &&
        this.playerCharacter.character.skills.woodcutting.level <
          trees.willow.level
      "
      class="locked"
    >
      <app-locked-tree [level]="trees.willow.level"></app-locked-tree>
    </div>
    <div
      *ngIf="
        this.playerCharacter.character.skills.woodcutting.level >=
          trees.willow.level &&
        this.playerCharacter.character.skills.woodcutting.level <
          trees.bonsai.level
      "
      class="locked"
    >
      <app-locked-tree [level]="trees.bonsai.level"></app-locked-tree>
    </div>
    <div
      *ngIf="
        this.playerCharacter.character.skills.woodcutting.level >=
          trees.bonsai.level &&
        this.playerCharacter.character.skills.woodcutting.level <
          trees.yew.level
      "
      class="locked"
    >
      <app-locked-tree [level]="trees.yew.level"></app-locked-tree>
    </div>
    <div
      *ngIf="
        this.playerCharacter.character.skills.woodcutting.level >=
          trees.yew.level &&
        this.playerCharacter.character.skills.woodcutting.level <
          trees.magic.level
      "
      class="locked"
    >
      <app-locked-tree [level]="trees.magic.level"></app-locked-tree>
    </div>
    <div
      *ngIf="
        this.playerCharacter.character.skills.woodcutting.level >=
          trees.magic.level &&
        this.playerCharacter.character.skills.woodcutting.level <
          trees.divine.level
      "
      class="locked"
    >
      <app-locked-tree [level]="trees.divine.level"></app-locked-tree>
    </div>
    <div
      *ngIf="
        this.playerCharacter.character.skills.woodcutting.level >=
          trees.divine.level &&
        this.playerCharacter.character.skills.woodcutting.level <
          trees.divine.level
      "
      class="locked"
    >
      <app-locked-tree [level]="trees.divine.level"></app-locked-tree>
    </div>
  </div>
</div>
