<app-skill-information
  [playerCharacter]="playerCharacter.character.skills.woodcutting"
  [players]="woodcutters"
></app-skill-information>
<app-skill-rewards *ngIf="activeTree"
  [playerCharacter]="playerCharacter.character.skills.woodcutting"
  [skillProgress]="treeProgress"
  [activeNode]="activeTree"
  (finished)="completeWoodcutting(activeTree)"
>
</app-skill-rewards>
<span *ngFor="let tree of treeTypes">
  <div
    *ngIf="playerCharacter.character.skills.woodcutting.level >= tree.level"
    class="woodcutting-box"
    (click)="startTimer(tree)"
  >
    <app-tree-spot
      [bonus]="playerCharacter.character.skills.woodcutting.tool!.bonus"
      [tree]="tree"
    ></app-tree-spot>
  </div>
</span>
<span *ngFor="let i of lockedTrees">
  <div
    *ngIf="playerCharacter.character.skills.woodcutting.level < i"
    class="woodcutting-box"
  >
    <app-locked [url]="'trees'" [level]="i"></app-locked>
  </div>
</span>
