<div>
  <app-skill-information
    [playerCharacter]="playerCharacter.character.skills.thieving"
    [players]="thiefs"
  ></app-skill-information>
  <app-skill-rewards
    [playerCharacter]="playerCharacter.character.skills.thieving"
    [skillProgress]="thievingProgress"
    [activeNode]="activeThieving"
  >
  </app-skill-rewards>

  <span *ngFor="let target of thievingTargets">
    <div
      *ngIf="playerCharacter.character.skills.thieving.level >= target.level"
      class="thieving-box"
      (click)="startTimer(target)"
    >
      <app-thieving-spot
        [bonus]="playerCharacter.character.skills.thieving.tool!.bonus || 1"
        [activeThieving]="target"
      ></app-thieving-spot>
    </div>
  </span>
  <span *ngFor="let i of lockedTargets">
    <div
      *ngIf="playerCharacter.character.skills.thieving.level < i"
      class="thieving-box"
    >
      <app-locked [url]="'thieving'" [level]="i"></app-locked>
    </div>
  </span>
</div>
