@import "~../../../../variables.scss";

.thieving-box {
    width: 22rem;
    background-color: $primary-dark;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 1.9rem;
    text-align: center;
    box-shadow: inset 0 0 0 1px #142b2b,0 0 30px -3px #000;
    border-radius: 5px;
    border-top: 3px solid gray;
}

.thieving-box:focus {
    -webkit-transform: scale(2);
    transform: scale(1.05);
    cursor: pointer;
}

.thieving-box:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    cursor: pointer;
}

.progress-bar {
    flex-direction: column;
    height: 20px;
}

.progress-bar-skill-level {
    display: flex;
    flex-direction: row;
    width: 98%;
    height: 12px;
    border-radius: 5px;
    background-color: $secondary-dark;
}

.progress-bar-rewards {
    display: flex;
    flex-direction: row;
    width: 98%;
    height: 20px;
    border-radius: 5px;
    background-color: $primary;
}

.skill-rewards {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5rem;
    width: 98%;
    box-shadow: inset 0 0 0 1px #142b2b,0 0 30px -3px #000;
    border-top: 3px solid green;
    background-color: $secondary-dark;
    display: flex;
    flex-direction: column;
    font-size: .875rem;
}

.skill-information {
    border-top: 3px solid green;
    background-color: #455a64;
    display: flex;
    flex-direction: column;
    font-size: .875rem;
    height: 0px;
}

.level{
    background-color: forestgreen;
    border-radius: 5px;
    padding: 0.3rem;
}

.xp{
    background-color: rgb(0, 179, 179);
    border-radius: 5px;
    padding: 0.3rem;
}

::ng-deep .mat-progress-bar-fill::after {
    background-color: #bcd100;
}

::ng-deep .mat-progress-bar-buffer {
    background-color: rgb(85, 85, 85);
}

::ng-deep .mat-progress-bar {
    border-radius: 2px;
}

.locked {
    width: 21.1rem;
    height: 15rem;
    background-color: $primary;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    box-shadow: 0 3px 1px -2px #0003, 0 2px 2px #00000024, 0 1px 5px #0000001f;
    border-radius: 5px;
    border-top: 3px solid green;
}

.rewardContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.rewardIcon {
    border-radius: 1px;
    border: solid 1px #000000;
    padding: 0.25rem;
    margin: 0.25rem;
    position: relative;
    background-color: $primary;
}