<div class="chat-ui">
  <div class="chat-ui-text-area">
    <mat-divider></mat-divider>

    <div class="chat-box">
      <div tabindex="1" #chatDiv class="chat-text {{item.name}}" *ngFor="let item of messages">
        [{{item.date || item.time}}] <img *ngIf="item.name !== 'Server' " width="20rem" src="../../../assets/chat-icons/normal.png"> {{item.name}}: {{ item.message }}
            <mat-divider></mat-divider>
      </div>
    </div>
    <mat-divider></mat-divider>
      <mat-form-field>
        <mat-label style="color: white;">Type your message here...</mat-label>
        <input (keyup.enter)="addChat()" [formControl]="message" matInput>
      </mat-form-field>
  </div>
</div>
