<mat-toolbar class="backpack">
  <mat-toolbar-row>
    <div style="width: 100%">
      <span> Backpack </span>
      <span matTooltip="Gold" style="margin-left: 5rem; cursor: pointer">
        {{ playerCharacter.character.currencies.gold }}<img style="width: 1.2rem" src="../../../assets/general/gold.png"
      /></span>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<div class="backpack-background">
  <div class="backpack-area">
    <div
      matTooltip="{{ items.name | titlecase }} | {{ items.value }} Gold"
      class="backpack-item"
      *ngFor="let items of playerCharacter.character.backpack"
    >
      <div (click)="openDialog(items)" class="rewardIcon">
        <span class="floating">
          <small class="amount">
            {{ items.amount }}
          </small>
        </span>
        <img
          style="width: 60px; padding: 0.25rem"
          src="../../../assets/items/{{ items.name }}.png"
          alt="item"
          class="item"
        />
      </div>
    </div>
    <div
      matTooltip="Empty"
      class="empty-backpack-item"
      *ngFor="let number of numbers"
    >
      <div class="empty-slot">
  
      </div>
    </div>
  </div>
</div>
