@import "~../../../variables.scss";

.backpack {
    margin-top: 2rem;
    margin-left: 2rem;
    width: 96%;
    max-width: 96%;
    box-shadow: 0 1px 2px rgb(33 34 35/50%),0 1px 2px rgb(26 26 27/50%);
    border-top: 3px solid green;
    background: #2a3445;
    background: -webkit-linear-gradient(right, #2a3445, #171923);
    background:    -moz-linear-gradient(right, #2a3445, #171923);
    background:     -ms-linear-gradient(right, #2a3445, #171923);
    background:      -o-linear-gradient(right, #2a3445, #171923);
    background:         linear-gradient(to left, #2a3445, #171923);
    display: relative;
    text-align: center;
    color: white;
}

.backpack-area {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.backpack-item {
    border-color: #0f2;
    -webkit-box-shadow: 0 0 10px #0f2;
    -moz-box-shadow: 0 0 10px #0f2;
    box-shadow: 0 0 10px #0f2;
    height: 4rem;
    margin: 1rem;
    cursor: pointer;
}

.empty-backpack-item {
    border-color: rgb(0, 0, 0);
    -webkit-box-shadow:inset 0px 0px 0px 5px rgb(0, 0, 0);
    -moz-box-shadow:inset 0px 0px 0px 5px rgb(0, 0, 0);
    box-shadow:inset 0px 0px 0px 5px rgb(0, 0, 0);
    height: 4rem;
    margin: 1rem;
    cursor: pointer;
}


.backpack-background {
    background: #2a3445;
    background: -webkit-linear-gradient(right, #2a3445, #171923);
    background:    -moz-linear-gradient(right, #2a3445, #171923);
    background:     -ms-linear-gradient(right, #2a3445, #171923);
    background:      -o-linear-gradient(right, #2a3445, #171923);
    border: 1px solid $primary;
    width: 96%;
    margin-left: 2rem;
    margin-top: 2rem;
    min-height: 65vh;
}

.amount {
    padding-right: 0.6em;
    padding-left: 0.6em;
    border-radius: 10rem;
    background-color: $primary;
    color: white;
    font-weight: 600;
}

.floating {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: -16px;
}

.rewardIcon {
    position: relative;
}

.empty-slot {
    border: black solid;
    min-width: 3.75rem;
    min-height: 4rem;
}