.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 43, 0, 0.2); /* Green with 50% opacity */
  z-index: 1; /* Make sure it is on top of other elements */
}

.main-text {
  font-family: Cinzel Decorative, serif;
  font-weight: 500;
  text-transform: uppercase;
  text-shadow: 0 0 8px #15ac67, 0 0 18px #15ac67;
  font-size: 2rem;
  text-align: center;
  z-index: 1000;
  position: relative;
}

.return-text {
  position: absolute;
  left: 10px;
  top: 10px;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  font-family: Cinzel Decorative, serif;
  text-shadow: 0 0 8px #15ac67, 0 0 18px #15ac67;
  cursor: pointer;
}

.main-area {
  background-image: url("../../../../../assets/general/promise-bg.webp");
  background-size: cover;
  z-index: 0;
}

.container {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 100vh;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: Cinzel Decorative, serif;
  z-index: 1000;
}

/* Flex item styles */
.flex-left,
.flex-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: white;
}

.flex-right {
  text-shadow: 0 0 8px #15ac67, 0 0 18px #15ac67;
}

/* Image styles */
.image {
  margin-top: 5rem;
  max-width: 40%;
  max-height: 60%;
}

.level-container {
  display: flex;
  align-items: center;
}

.circle {
  height: 10px;
  width: 10px;
  background-color: green;
  border-radius: 50%;
  margin-right: 10px;
}

.level {
  background-color: green;
  color: white;
  padding: 5px;
  border-radius: 5px;
  margin-right: 10px;
}

h1 {
  margin: 0;
}

.select-monster {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 5rem;
  cursor: pointer;
  width: 5rem;
  max-width: 5rem;
  margin: 1rem;
  border: 2px solid green;
  background-color: rgb(0, 41, 0);
  display: inline-block;
}

.selected {
  border: solid 3px white;
  background-color: rgba(0, 43, 0, 0.3);
}

.select-monster:hover {
  border: solid 3px gold;
  background-color: rgba(0, 43, 0, 0.3);
}

.button-background {
  border: black solid 3px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
  margin-left: 3rem;
}

.menu-icons-container {
  position: fixed;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 160px;
  background-image: url("../../../../../assets/general/promise-bg.webp");
  padding: 1rem;
}

.menu-icons-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-icons-container li {
  margin-bottom: 10px;
  cursor: pointer;
}

.menu-icons-container i {
  font-size: 24px;
}

.stats {
  height: 0.5rem;
  border-radius: 10px;
}
