@import "~../variables.scss";

.nav-header {
  font-family: Roboto, Helvetica Neue, sans-serif;
  font-size: 18px;
  font-weight: 500;
}

.is-active {
  border: 1px solid $accent; /* some kind of blue border */
  pointer-events: none;
  cursor: default;
  -webkit-box-shadow: 0px 0px 4px $accent;
  -moz-box-shadow: 0px 0px 4px $accent;
  box-shadow: 0px 0px 4px $accent;
}

.main-content {
  background-image: url("../assets/general/background.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.icon {
  width: 24px;
  display: flex;
  align-items: center;
  flex-direction: row;
  border-radius: 5px;
  margin-right: 1rem;
}

.side-nav-list {
  background-color: $primary;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: hidden;
  width: 15rem;
  font-weight: 500;
  border-right: 1px black solid;
}

.woodcutting {
  background-color: green;
}

.firemaking {
  background-color: red;
  color: whitesmoke;
}

.fishing {
  background-color: blue;
  color: whitesmoke;
}

.agility {
  background-color: #4195fc;
  color: black;
}

.cooking {
  background-color: orange;
  color: whitesmoke;
}

.herblore {
  background-color: greenyellow;
  color: black;
}

.runecrafting {
  background-color: yellow;
  color: black;
}

.mining {
  background-color: brown;
  color: whitesmoke;
}

.smithing {
  background-color: grey;
  color: black;
}

.thieving {
  background-color: rgb(187, 187, 187);
  color: black;
}

.crafting {
  background-color: orangered;
  color: whitesmoke;
}

.fletching {
  background-color: burlywood;
  color: black;
}

.raids {
  background-color: rgb(161, 161, 161);
  color: black;
}

.dungeon {
  background-color: rgb(172, 172, 172);
  color: black;
}

.attack {
  background-color: rgb(187, 187, 187);
  color: black;
}

.quests {
  background-color: rgb(255, 145, 0);
  color: black;
}

.alchemy {
  background-color: rgb(0, 160, 107);
  color: black;
}

.town {
  background-color: rgb(255, 185, 81);
  color: black;
}

.shop {
  background-color: rgb(119, 58, 0);
}

.adventure {
  background-color: rgb(212, 212, 212);
  color: black;
}

.standard {
  background-color: rgb(0, 255, 55);
  color: black;
}

.opacityBackgroundMain {
  min-width: 100%;
  min-height: 93.3vh;
  top: 0;
}

.mainHeading {
  background-color: $primary;
  margin-bottom: 0rem;
}

.subHeading {
  margin-top: 0;
  background-color: $primary;
  color: rgb(156, 156, 156);
}

.chat-box {
  position: fixed;
  left: 240px;
  bottom: 0px; 
  width: 500px;
  background: rgba(1.0, 1.0, 1.0, 0.4);
  padding-left: 10px;
  border-radius: 2px;
  visibility: hidden;
}

.hp-box {
  position: fixed;
  transform: translate(-57%, 0);
  left: 57%;
  bottom: 2px; 
  width: 200px;
  background: $primary-dark;
  padding: 10px 10px;
  border-color: #0f2;
  -webkit-box-shadow: 0 0 10px #0f2;
  -moz-box-shadow: 0 0 10px #0f2;
  box-shadow: 0 0 10px #0f2;
  visibility: hidden;
  padding: 0;
  color: white;
}

::ng-deep .mat-expansion-panel {
  background-color: $primary;
}

::ng-deep .mat-expansion-panel-header {
  background-color: $primary;
  border-radius: 0;
}

::ng-deep .mat-expansion-panel:hover {
  background-color: $primary;
}

::ng-deep .mat-expansion-panel:focus {
  background-color: $primary;
}

::ng-deep .mat-expansion-panel-body {
  background-color: $primary-dark;
}

::ng-deep .mat-drawer-inner-container {
  background: -webkit-linear-gradient(right, #2a3445, #171923);
  background:    -moz-linear-gradient(right, #2a3445, #171923);
  background:     -ms-linear-gradient(right, #2a3445, #171923);
  background:      -o-linear-gradient(right, #2a3445, #171923);
  background:         linear-gradient(to left, #2a3445, #171923);
}

.sign-in {
  background-image: url("../assets/general/background.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.settingsArea {
  margin-left: auto;
  background-color: $primary;
  border: 2px solid black;
  padding-right: 2rem;
  color: white;
}

.hpBox-text {
  font-weight: 700;
  font-family: Trebuchet MS;
  text-align: center;
  padding: 0;
  position: absolute;
  bottom: 7px;
  transform: translate(-50%, 0);
  left: 50%;
}

.progress-bar-hp {
  background-color: $primary;
  height: 0.75rem;
  margin-top: 0.25rem;
  color: $secondary;
}

// ::ng-deep .mat-progress-bar-fill::after {
//   background: #2a3445;
//   background: -webkit-linear-gradient(left, #2a3445, #171923);
//   background:    -moz-linear-gradient(left, #2a3445, #171923);
//   background:     -ms-linear-gradient(left, #2a3445, #171923);
//   background:      -o-linear-gradient(left, #2a3445, #171923);
//   background:         linear-gradient(to right, #2a3445, #171923);
// }

::ng-deep .mat-progress-bar-buffer {
  background-color: $primary;
}

// ::ng-deep .mat-progress-bar {
//   border-radius: 2px;
// }

::ng-deep .mat-drawer-inner-container {
  overflow-y: hidden !important;
}

::ng-deep .mat-drawer-inner-container:hover {
  overflow-y: scroll !important;
  scrollbar-color: #0A4C95 #C2D2E4;
  scrollbar-width: thin;
}

::ng-deep .mat-list-base {
  padding-top: 0 !important;
}

::ng-deep .mat-list-item {
  color: #f5f5f5 !important;
  font-size: .875rem !important;
  line-height: 1.25rem !important;
}
.heading-section {
  height: 9.5rem;
}

.main-background {
  position: absolute;
  width: 100%;
  height: 10rem;
  top: 0;
  left: 0;
}

.heading-section-text {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: 134px;
  color: black;
  font-weight: 900;
  z-index: 10002;
}

.top-bar {
  display: inline-flex;
  vertical-align: middle;
}

.nav-heading {
  padding: 1.375rem 1.25rem 0.375rem;
  font-size: .875rem !important;
  text-transform: uppercase;
  letter-spacing: .0625rem;
  color: #8ca0b3;
}

.main-logo {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
  width: 128px;
  z-index: 10000;
}

.main-logo-two {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: 120px;
  width: 128px;
  z-index: 10001;
}

.main-logo-text {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: 118px;
  color: black;
  font-weight: 900;
  z-index: 10002;
}

.heading-button {
  width: 100%;
  margin-bottom: 0.5rem;
  background:#d03651;
  box-shadow:0px 5px 0px 0px #a72b41,
    0px 0px 5px 0px rgba(120, 120, 120, 0.4);;
}

.expand-box {
  position: fixed;
  right: 5px;
  bottom: 55px; 
  background: $primary;
  color: white;
  border-color: #0f2;
  -webkit-box-shadow: 0 0 10px #0f2;
  -moz-box-shadow: 0 0 10px #0f2;
  box-shadow: 0 0 10px #0f2;
  z-index: 10000;
}

.expand-hp-box {
  position: fixed;
  width: 5rem;
  padding: 0;
  right: 5px;
  bottom: 100px; 
  background: $primary;
  color: white;
  border-color: #0f2;
  -webkit-box-shadow: 0 0 10px #0f2;
  -moz-box-shadow: 0 0 10px #0f2;
  box-shadow: 0 0 10px #0f2;
  z-index: 10000;
}

::ng-deep .mat-list-base:hover {
  background-color: rgba(0,0,0,0) !important;
}
