<div *ngIf="player$ | async; let player">
  <mat-drawer-container *ngIf="authenticated" class="sidebar">
    <mat-drawer
      #sidenav
      mode="side"
      [(opened)]="opened"
      class="side-nav-list"
      mode="side"
    >
      <mat-nav-list>
        <mat-list-item style="height: 10rem;" class="heading-section">
          <mat-icon matListIcon><img class="main-background" src="../assets/general/logobackground.webp"></mat-icon>
          <mat-icon matListIcon><img class="main-logo" src="../assets/logo.PNG"></mat-icon>
          <mat-icon matListIcon><img class="main-logo-two" src="../assets/logoText.png"></mat-icon>
          <p class="main-logo-text">{{ config.app }}</p>
          <p class="heading-section-text">{{ config.version }}</p>
        </mat-list-item>
        <span class="nav-heading"
          >General<mat-icon style="display: inline-flex; vertical-align: middle"
            >visibility</mat-icon
          ></span
        >
        <div *ngFor="let skill of navLinks">
          <mat-list-item
            [routerLinkActive]="['is-active']"
            (click)="setTitle(skill.toLowerCase())"
            [routerLink]="'/' + skill.toLowerCase()"
          >
            <img
              class="icon"
              src="../assets/menu-icons/{{ skill.toLowerCase() }}.png"
            />
            {{ skill | titlecase }}
            <span
              *ngIf="getCorrectSkillLevel(skill) > 0"
              style="margin-left: auto; font-size: 11px"
              >({{ getCorrectSkillLevel(skill) }} / 99)</span
            >
          </mat-list-item>
        </div>
        <mat-divider></mat-divider>
        <span class="nav-heading"
          >Combat<mat-icon style="display: inline-flex; vertical-align: middle"
            >visibility</mat-icon
          ></span
        >
        <div *ngFor="let skill of combatLinks">
          <mat-list-item
            [routerLinkActive]="['is-active']"
            (click)="setTitle(skill.toLowerCase())"
            [routerLink]="'/' + skill.toLowerCase()"
          >
            <img
              class="icon"
              src="../assets/menu-icons/{{ skill.toLowerCase() }}.png"
            />
            {{ skill | titlecase }}
            <span
              *ngIf="getCorrectSkillLevel(skill) > 0"
              style="margin-left: auto; font-size: 11px"
              >({{ getCorrectSkillLevel(skill) }} / 99)</span
            >
          </mat-list-item>
        </div>
        <mat-divider></mat-divider>
        <span class="nav-heading"
          >Skills
          <mat-icon style="display: inline-flex; vertical-align: middle"
            >visibility</mat-icon
          ></span
        >
        <div *ngFor="let skill of skillLinks">
          <mat-list-item
            [routerLinkActive]="['is-active']"
            (click)="setTitle(skill.toLowerCase())"
            [routerLink]="'/' + skill.toLowerCase()"
          >
            <img
              class="icon"
              src="../assets/menu-icons/{{ skill.toLowerCase() }}.png"
            />
            {{ skill | titlecase }}
            <span
              *ngIf="getCorrectSkillLevel(skill) > 0"
              style="margin-left: auto; font-size: 11px"
              >({{ getCorrectSkillLevel(skill) }} / 99)</span
            >
          </mat-list-item>
        </div>
      </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content class="main-content">
      <mat-toolbar
        class="top-bar"
        style="border-bottom: 1px black solid; height: 72px"
        class="{{ title || 'standard' }}"
      >
        <mat-toolbar-row>
          <button mat-icon-button (click)="sidenav.toggle(); changeChatLocation()">
            <mat-icon>menu</mat-icon>
          </button>
          <span>
            <img
              class="icon"
              src="../assets/menu-icons/{{
                title || 'adventure' | lowercase
              }}.png"
            />
          </span>
          {{ title || config.app | titlecase }}

          <span class="settingsArea">
            <button mat-button [matMenuTriggerFor]="menu">
              <mat-icon>settings</mat-icon>
            </button>
            <span style="font-size: 14px">
              {{ player.playerData.username }}
            </span>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="logout()">Logout</button>
            </mat-menu>
          </span>
        </mat-toolbar-row>
      </mat-toolbar>
      <div class="opacityBackgroundMain">
        <div *ngIf="loading; else content">
          <mat-spinner
            style="position: fixed; top: 50%; left: 50%"
            [diameter]="200"
          ></mat-spinner>
        </div>
        <ng-template #content> <router-outlet></router-outlet> </ng-template>
        <div class="chat-box fade-in">
          <app-chat></app-chat>
        </div>
        <div class="expand-box">
          <button *ngIf="!showChat" mat-button (click)="hideChat()"> <mat-icon>chat</mat-icon> <mat-icon>expand_more</mat-icon></button>
        </div>
        <div class="expand-box">
          <button *ngIf="showChat" mat-button (click)="hideChat()"> <mat-icon>chat</mat-icon> <mat-icon>expand_less</mat-icon></button>
        </div>
        <div class="expand-hp-box">
          <button *ngIf="!showHp" mat-button (click)="hideHp()"> <mat-icon>bar_chart</mat-icon> <mat-icon>expand_more</mat-icon></button>
        </div>
        <div class="expand-hp-box">
          <button *ngIf="showHp" mat-button (click)="hideHp()"> <mat-icon>bar_chart</mat-icon> <mat-icon>expand_less</mat-icon></button>
        </div>
        <div class="hp-box">
          <button style="width: 100%" mat-button>
            <span class="hpBox-text">
              {{ player.playerData.character.combatStats.hpCurrent }} /
              {{ player.playerData.character.combatStats.hpMax }}</span
            >
            <mat-progress-bar
              class="progress-bar-hp"
              mode="determinate"
              color="secondary"
              [value]="
                (player.playerData.character.combatStats.hpCurrent /
                  player.playerData.character.combatStats.hpMax) *
                100
              "
            ></mat-progress-bar>
          </button>
        </div>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>

  <div class="sign-in" *ngIf="!authenticated">
    <div *ngIf="login">
      <app-login></app-login>
    </div>
  </div>
</div>
