.content {
  background-color: #673ab7;
}

.elevation {
  background-color: #673ab7;
  z-index: 1000;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.nav-item {
  color: whitesmoke;
  font-size: 14px;
}

.is-active {
  border-top: 1px solid #4195fc; /* some kind of blue border */
  border-bottom: 1px solid #4195fc; /* some kind of blue border */
  pointer-events: none;
  cursor: default;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-shadow: 0px 0px 4px #4195fc;
  -moz-box-shadow: 0px 0px 4px #4195fc;
  box-shadow: 0px 0px 4px #4195fc;
}

.main-content {
  background-image: url("../assets/background.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.icon {
  width: 24px;
  border: black 2px solid;
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: black;
  border-radius: 5px;
  margin-right: 1rem;
}

.side-nav-list {
  background-color: rgb(51, 51, 51);
  color: whitesmoke;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow:hidden;
}

.side-nav-list:hover {
  overflow-y:scroll;
}

.woodcutting {
  background-color: #358f12;
  color: whitesmoke;
}

.firemaking {
  background-color: red;
  color: whitesmoke;
}

.fishing {
  background-color: blue;
  color: whitesmoke;
}

.agility {
  background-color: #4195fc;
  color: black;
}

.cooking {
  background-color: orange;
  color: whitesmoke;
}

.herblore {
  background-color: greenyellow;
  color: black;
}

.runecrafting {
  background-color: yellow;
  color: black;
}

.mining {
  background-color: brown;
  color: whitesmoke;
}

.smithing {
  background-color: grey;
  color: black;
}

.thieving {
  background-color: rgb(187, 187, 187);
  color: black;
}

.crafting {
  background-color: orangered;
  color: whitesmoke;
}

.fletching {
  background-color: burlywood;
  color: black;
}

.raids {
  background-color: rgb(161, 161, 161);
  color: black;
}

.dungeon {
  background-color: rgb(172, 172, 172);
  color: black;
}

.attack {
  background-color: rgb(187, 187, 187);
  color: black;
}

.quests {
  background-color: rgb(255, 145, 0);
  color: black;
}

.alchemy {
  background-color: rgb(0, 160, 107);
  color: black;
}

.town {
  background-color: rgb(255, 185, 81);
  color: black
}

.shop {
  background-color: rgb(119, 58, 0);
  color: white;
}

.adventure {
  background-color: rgb(212, 212, 212);
  color: black;
}

.standard {
  background-color: rgb(0, 255, 55);
  color: black;
}

.heading {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: 0;
  text-align: center;
  font-size: 1.5rem;
  font-family: Trebuchet MS;
  background-image: url("../assets/general/fire-bg.png");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.opacityBackground {
  background-color: rgba(35, 42, 53, 0.9);
  padding: 0;
  margin: 0;
  width: 100%;
}

.opacityBackgroundMain {
  background-color: rgba(35, 42, 53, 0.3);
  padding: 0;
  margin: 0;
  min-width: 100%;
  min-height: 100vh;
  top: 0;
}

.mainHeading {
  background-color: rgb(75, 75, 75);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  margin-bottom: 0.3rem;
}

.subHeading {
  margin-top: 0;
  background-color: rgb(75, 75, 75);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  color: rgb(156, 156, 156);;
}
