<form style="padding: 3rem; " [formGroup]="this.registerForm">
  <div style="margin: auto">
    <ion-label position="stacked">Email</ion-label>
    <ion-input
      type="text"
      placeholder="Enter your email"
      formControlName="email"
    ></ion-input>
  </div>

  <div style="margin: auto">
    <ion-label position="stacked">Username</ion-label>
    <ion-input
      type="text"
      placeholder="Your username"
      formControlName="username"
    ></ion-input>
  </div>

  <div style="margin: auto">
    <ion-label position="stacked">Character</ion-label>
    <ion-input
      type="text"
      placeholder="Enter a character name"
      formControlName="characterName"
    ></ion-input>
  </div>

  <div>
    <ion-label position="stacked">Password</ion-label>
    <ion-input
      type="password"
      placeholder="Your password"
      formControlName="password"
    ></ion-input>
  </div>

  <div style="margin: auto">
    <ion-select
      formControlName="characterAlignment"
      value="characterAlignment"
      interface="popover"
      placeholder="Select Gamemode"
    >
      <ion-select-option value="normal">Normal</ion-select-option>
      <ion-select-option value="hardcore">Hardcore</ion-select-option>
    </ion-select>
  </div>

  <ion-button (click)="submitRegistration()" class="button-text" fill="clear"
    >Register<ion-icon name="enter-outline"></ion-icon
  ></ion-button>
</form>
