.button-text {
    color: white;
    font-size: 20px;
    font-family: Cinzel Decorative, serif;
    font-weight: 400;
    text-transform: uppercase;
    text-shadow: 0 0 8px #15ac67, 0 0 18px #15ac67;
  }