<form [formGroup]="this.registerForm">
  <ion-item style="margin: auto;" fill="solid">
    <ion-label position="floating">Email</ion-label>
    <ion-input type="email" formControlName="email"></ion-input>
  </ion-item>

  <ion-item style="margin: auto;" fill="solid">
    <ion-label position="floating">Username</ion-label>
    <ion-input type="text" formControlName="username"></ion-input>
    <!-- <ion-note slot="helper">Enter a valid email</ion-note>
    <ion-note slot="error">Invalid email</ion-note> -->
  </ion-item>

  <ion-item style="margin: auto;" fill="solid">
    <ion-label position="floating">Character Name</ion-label>
    <ion-input type="text" formControlName="characterName"></ion-input>
    <!-- <ion-note slot="helper">Enter a valid email</ion-note>
    <ion-note slot="error">Invalid email</ion-note> -->
  </ion-item>

  <ion-item style="margin: auto;" fill="solid">
    <ion-label position="floating">Password</ion-label>
    <ion-input type="password" formControlName="password"></ion-input>
    <!-- <ion-note slot="helper">Enter a valid email</ion-note>
    <ion-note slot="error">Invalid email</ion-note> -->
  </ion-item>

  <ion-item style="margin: auto;">
    <ion-select
      formControlName="characterAlignment"
      value="characterAlignment"
      interface="popover"
      placeholder="Select Gamemode"
    >
      <ion-select-option value="normal">Normal</ion-select-option>
      <ion-select-option value="hardcore">Hardcore</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-button
    style="margin: auto; margin-top: 1rem; margin-bottom: 1rem"
    color="primary"
    expand="block"
    (click)="submitRegistration()"
    >Register</ion-button
  >

  <ion-button
    style="margin: auto; margin-top: 1rem; margin-bottom: 1rem"
    color="tertiary"
    expand="block"
    target="blank"
    href="https://discord.gg/NMnDEwWUbu"
    >Join us on Discord</ion-button
  >
</form>
