<mat-toolbar class="skill-rewards fade-in" *ngIf="activeNode">
  <mat-toolbar-row>
    <div class="progress-bar-rewards">
      <mat-progress-bar
        class="progress-bar-rewards"
        color="accent"
        mode="determinate"
        anima
        appTimestampCountdownProgress
        [timestamp]="timeUntilFinish || 0"
        (isFinished)="resetTimer()"
      ></mat-progress-bar>
      <br/>

      <span class="countdown" appTimestampCountdown [timestamp]="timeUntilFinish || 0"> </span>
    </div>
  </mat-toolbar-row>
  <mat-toolbar-row style="justify-content: center">
    <div class="rewardContainer">
      <div class="rewardIcon">
        <span class="floating"> {{ activeNode.reward }}</span>
        <img
          matTooltip="{{ activeNode.reward }}"
          class="icon"
          src="../../../../assets/items/{{ standby(activeNode.reward) }}.png"
          alt="None"
        />
      </div>
      <div class="rewardIcon">
        <span class="floating">
          {{
            (activeNode.time * (playerCharacter.tool!.bonus || 1)).toFixed(1)
          }}</span
        >
        <img class="icon" src="./assets/general/hourglass.png" />
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
